.content-box .content-box-headline {
  position:absolute;
  top:0;
  left:0;
  height:34px;
  width:100%;
  background:#f2f2f2;
  border-bottom:1px solid #dadfdf;
}
.content-box .content-box-headline h2 {
  font-family:'Asap', sans-serif;
  font-style:italic;
  font-size:15px;
  color:#42595c;
  padding-left:12px;
  padding-top:8px;
}
