.textfield.standard {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:13px;
  line-height:22px;
  color:#394448;
  padding-bottom:20px;
}
.textfield.standard p { padding-bottom:10px; }
