ul { 
    display: block;
    list-style: none;
    
    margin-left: 20px;
    padding: 0;
}

ul.first-level {
    width: 250px;
    margin: 0;
}

ul.first-level li {
    
}

ul.first-level li a {
    padding-left: 25px;
}