li {
    margin-bottom: 2px;
    margin-top: 2px;
}

li a {
    display: block;
    text-decoration: none;
    height: 25px;
    line-height: 25px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 0.9px;
}

a.hasChildren {
    
}

a.activeBranch {
    
}

a.active {
    font-weight: 900;
    color: #CC6633;
    background: #000;
}

cms a.neutral {
    color:#fff;
}

a:hover {
    background: #bbbbbb;
}

a.active:hover {
    background: #bbbbbb;
}

li a {
    
}

li a.last {
    
}