#pinion-FrontendBox .pinion-modules-youtube-Preview { cursor:pointer; }
#pinion-FrontendBox .pinion-modules-youtube-Preview * { cursor:pointer; }
.cms .pinion-modules-youtube-Preview, #pinion-backend .pinion-modules-youtube-Preview, #pinion-FrontendBox .pinion-modules-youtube-Preview {
  position:relative;
  overflow:hidden;
  width:100%;
  height:100%;
  text-align:center;
  clear:both;
}
.cms .pinion-modules-youtube-Preview:after, #pinion-backend .pinion-modules-youtube-Preview:after, #pinion-FrontendBox .pinion-modules-youtube-Preview:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
.cms .pinion-modules-youtube-Preview > .pinion-preview-info, #pinion-backend .pinion-modules-youtube-Preview > .pinion-preview-info, #pinion-FrontendBox .pinion-modules-youtube-Preview > .pinion-preview-info {
  height:20px;
  border-bottom:1px solid #8c9b9b;
  padding-bottom:5px;
  clear:both;
}
.cms .pinion-modules-youtube-Preview > .pinion-preview-info:after, #pinion-backend .pinion-modules-youtube-Preview > .pinion-preview-info:after, #pinion-FrontendBox .pinion-modules-youtube-Preview > .pinion-preview-info:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
.cms .pinion-modules-youtube-Preview > .pinion-preview-info > .pinion-width, .cms .pinion-modules-youtube-Preview > .pinion-preview-info > .pinion-height, #pinion-backend .pinion-modules-youtube-Preview > .pinion-preview-info > .pinion-width, #pinion-backend .pinion-modules-youtube-Preview > .pinion-preview-info > .pinion-height, #pinion-FrontendBox .pinion-modules-youtube-Preview > .pinion-preview-info > .pinion-width, #pinion-FrontendBox .pinion-modules-youtube-Preview > .pinion-preview-info > .pinion-height {
  height:20px;
  width:50%;
  float:left;
}
.cms .pinion-modules-youtube-Preview > .pinion-preview-info > .pinion-width > .pinion-icon, .cms .pinion-modules-youtube-Preview > .pinion-preview-info > .pinion-height > .pinion-icon, #pinion-backend .pinion-modules-youtube-Preview > .pinion-preview-info > .pinion-width > .pinion-icon, #pinion-backend .pinion-modules-youtube-Preview > .pinion-preview-info > .pinion-height > .pinion-icon, #pinion-FrontendBox .pinion-modules-youtube-Preview > .pinion-preview-info > .pinion-width > .pinion-icon, #pinion-FrontendBox .pinion-modules-youtube-Preview > .pinion-preview-info > .pinion-height > .pinion-icon {
  float:left;
  margin-right:5px;
}
.cms .pinion-modules-youtube-Preview > .pinion-preview-info > .pinion-width > .pinion-text, .cms .pinion-modules-youtube-Preview > .pinion-preview-info > .pinion-height > .pinion-text, #pinion-backend .pinion-modules-youtube-Preview > .pinion-preview-info > .pinion-width > .pinion-text, #pinion-backend .pinion-modules-youtube-Preview > .pinion-preview-info > .pinion-height > .pinion-text, #pinion-FrontendBox .pinion-modules-youtube-Preview > .pinion-preview-info > .pinion-width > .pinion-text, #pinion-FrontendBox .pinion-modules-youtube-Preview > .pinion-preview-info > .pinion-height > .pinion-text {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:11px;
  line-height:20px;
  height:20px;
  color:#edf2f2;
  float:left;
}
.cms .pinion-modules-youtube-Preview > .pinion-preview-info > .pinion-width > .pinion-icon, #pinion-backend .pinion-modules-youtube-Preview > .pinion-preview-info > .pinion-width > .pinion-icon, #pinion-FrontendBox .pinion-modules-youtube-Preview > .pinion-preview-info > .pinion-width > .pinion-icon {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-1040px -40px;
  width:20px;
  height:20px;
}
.cms .pinion-modules-youtube-Preview > .pinion-preview-info > .pinion-height > .pinion-icon, #pinion-backend .pinion-modules-youtube-Preview > .pinion-preview-info > .pinion-height > .pinion-icon, #pinion-FrontendBox .pinion-modules-youtube-Preview > .pinion-preview-info > .pinion-height > .pinion-icon {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-1020px -40px;
  width:20px;
  height:20px;
}
.cms .pinion-modules-youtube-Preview > .pinion-youtube-video, #pinion-backend .pinion-modules-youtube-Preview > .pinion-youtube-video, #pinion-FrontendBox .pinion-modules-youtube-Preview > .pinion-youtube-video {
  display:none;
  position:absolute;
  top:0;
  left:0;
}
.cms .pinion-modules-youtube-Preview > .pinion-youtube-logo, #pinion-backend .pinion-modules-youtube-Preview > .pinion-youtube-logo, #pinion-FrontendBox .pinion-modules-youtube-Preview > .pinion-youtube-logo {
  position:absolute;
  top:55px;
  left:95px;
  width:50px;
  height:50px;
  background:url("../../icon.png");
}
.cms .pinion-modules-youtube-Preview > .pinion-youtube-link, #pinion-backend .pinion-modules-youtube-Preview > .pinion-youtube-link, #pinion-FrontendBox .pinion-modules-youtube-Preview > .pinion-youtube-link {
  position:absolute;
  top:110px;
  left:0;
  height:12px;
  width:100%;
  text-align:center;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:11px;
  line-height:16px;
  color:#edf2f2;
}
.cms .pinion-modules-youtube-Preview:hover > .pinion-preview-info, #pinion-backend .pinion-modules-youtube-Preview:hover > .pinion-preview-info, #pinion-FrontendBox .pinion-modules-youtube-Preview:hover > .pinion-preview-info { display:none; }
.cms .pinion-modules-youtube-Preview:hover > .pinion-youtube-link, #pinion-backend .pinion-modules-youtube-Preview:hover > .pinion-youtube-link, #pinion-FrontendBox .pinion-modules-youtube-Preview:hover > .pinion-youtube-link { display:none; }
.cms .pinion-modules-youtube-Preview:hover > .pinion-youtube-logo, #pinion-backend .pinion-modules-youtube-Preview:hover > .pinion-youtube-logo, #pinion-FrontendBox .pinion-modules-youtube-Preview:hover > .pinion-youtube-logo { display:none; }
.cms .pinion-modules-youtube-Preview:hover > .pinion-youtube-video, #pinion-backend .pinion-modules-youtube-Preview:hover > .pinion-youtube-video, #pinion-FrontendBox .pinion-modules-youtube-Preview:hover > .pinion-youtube-video { display:block; }
