#pinion-backend .pinion-backend-renderer-ModuleTemplateRenderer {
  color:#1a292b;
  min-height:35px;
  min-width:574px;
  cursor:pointer;
}
#pinion-backend .pinion-backend-renderer-ModuleTemplateRenderer .pinion-moduleIcon {
  position:absolute;
  left:10px;
  top:5px;
  height:25px;
  width:25px;
  margin-top:-25px;
  cursor:pointer;
}
#pinion-backend .pinion-backend-renderer-ModuleTemplateRenderer .pinion-moduleIcon > img {
  width:25px;
  cursor:pointer;
}
#pinion-backend .pinion-backend-renderer-ModuleTemplateRenderer > .pinion-textWrapper {
  padding:0px 140px 0px 50px;
  cursor:pointer;
}
#pinion-backend .pinion-backend-renderer-ModuleTemplateRenderer > .pinion-textWrapper:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
#pinion-backend .pinion-backend-renderer-ModuleTemplateRenderer > .pinion-textWrapper .pinion-module-title {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:13px;
  height:35px;
  line-height:35px;
  font-weight:900;
  cursor:pointer;
  float:left;
}
#pinion-backend .pinion-backend-renderer-ModuleTemplateRenderer > .pinion-textWrapper .pinion-showTemplates {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:10px;
  height:35px;
  line-height:35px;
  font-weight:900;
  cursor:pointer;
  float:left;
  color:#e1604b;
  margin-left:15px;
  display:none;
}
#pinion-backend .pinion-backend-renderer-ModuleTemplateRenderer .pinion-template-templateVariations { padding:0px 10px 12px 50px; }
#pinion-backend .pinion-backend-renderer-ModuleTemplateRenderer .pinion-template-templateVariations > .pinion-backend-list-Finder {
  margin-top:5px;
  margin-bottom:5px;
}
#pinion-backend .pinion-backend-renderer-ModuleTemplateRenderer .pinion-template-templateVariations > .pinion-backend-list-Finder > .pinion-backend-list-floatContainer > .pinion-backend-list-Finder-labels { display:none; }
#pinion-backend .pinion-backend-renderer-ModuleTemplateRenderer > .pinion-renderer-bar { top:7px; }
#pinion-backend .pinion-backend-renderer-ModuleTemplateRenderer:hover .pinion-textWrapper .pinion-showTemplates { display:block; }
#pinion-backend .pinion-backend-renderer-ModuleTemplateRenderer.pinion-expanded:hover .pinion-textWrapper .pinion-showTemplates { display:none; }
#pinion-backend .pinion-backend-renderer-ModuleTemplateRenderer.dirty .pinion-backend-icon-dirty {
  position:absolute;
  top:5px;
  right:3px;
}
