#pinion-backend .pinion-backend-renderer-VariationTemplateRenderer {
  color:#1a292b;
  min-height:70px;
  width:500px;
}
#pinion-backend .pinion-backend-renderer-VariationTemplateRenderer > .pinion-style-icon {
  position:absolute;
  top:10px;
  left:10px;
  background-color:#1a292b;
}
#pinion-backend .pinion-backend-renderer-VariationTemplateRenderer > .pinion-textWrapper { padding:10px 40px 12px 85px; }
#pinion-backend .pinion-backend-renderer-VariationTemplateRenderer > .pinion-textWrapper:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
#pinion-backend .pinion-backend-renderer-VariationTemplateRenderer > .pinion-textWrapper > .pinion-templateVariation-name {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  padding-top:3px;
  font-size:13px;
  font-weight:900;
}
#pinion-backend .pinion-backend-renderer-VariationTemplateRenderer > .pinion-textWrapper > .pinion-backend-group-LazyAddGroup {
  margin-top:8px;
  float:left;
  margin-right:25px;
}
#pinion-backend .pinion-backend-renderer-VariationTemplateRenderer > .pinion-textWrapper > .pinion-backend-group-Section {
  margin-top:8px;
  float:left;
}
#pinion-backend .pinion-backend-renderer-VariationTemplateRenderer > .pinion-textWrapper > .pinion-backend-group-Section:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
#pinion-backend .pinion-backend-renderer-VariationTemplateRenderer > .pinion-textWrapper > .pinion-backend-group-Section > .pinion-backend-input-Switcher {
  float:left;
  margin-right:10px;
}
#pinion-backend .pinion-backend-renderer-VariationTemplateRenderer > .pinion-template-codeareaWrapper {
  display:block;
  padding:10px;
}
#pinion-backend .pinion-backend-renderer-VariationTemplateRenderer.dirty .pinion-backend-icon-dirty {
  position:absolute;
  top:5px;
  right:3px;
}
