.content-box {
  position:relative;
  width:218px;
  height:155px;
  border:1px solid #dadfdf;
  -webkit-border-radius:5px;
  -khtml-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  overflow:hidden;
}
.content-box .content-box-content {
  display:none;
  position:absolute;
  top:155px;
  left:0;
  display:none;
  width:218px;
  height:120px;
  background:#ffffff;
}
.content-box:hover .content-box-content {
  display:block;
  top:35px;
}
