h1.headline.standard {
  font-family:;
  clear:both;
  color:#394448;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-style:italic;
  font-size:22px;
  line-height:22px;
  padding-top:33px;
  padding-bottom:22px;
}
h2.headline.standard {
  font-family:;
  clear:both;
  color:#394448;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-style:italic;
  font-size:20px;
  line-height:20px;
  padding-top:33px;
  padding-bottom:10px;
}
h3.headline.standard {
  font-family:;
  clear:both;
  color:#394448;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-style:italic;
  font-size:18px;
  line-height:18px;
  padding-top:33px;
  padding-bottom:10px;
}
h4.headline.standard {
  font-family:;
  clear:both;
  color:#394448;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-style:italic;
  font-size:16px;
  line-height:16px;
  padding-top:33px;
  padding-bottom:10px;
}
h5.headline.standard {
  font-family:;
  clear:both;
  color:#394448;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-style:italic;
  font-size:14px;
  line-height:14px;
  padding-top:33px;
  padding-bottom:10px;
}
h6.headline.standard {
  font-family:;
  clear:both;
  color:#394448;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-style:italic;
  font-size:13px;
  line-height:13px;
  padding-top:33px;
  padding-bottom:10px;
}
