#pinion-backend .pinion-flag, #pinion-FrontendBox .pinion-flag, .cms .pinion-flag {
  width:20px;
  height:20px;
  background:url('../images/pinion-flags.png');
  background-position:0px 0px;
}
#pinion-backend .pinion-flag-en, #pinion-FrontendBox .pinion-flag-en, .cms .pinion-flag-en {
  background:url('../images/pinion-flags.png');
  background-position:-20px 0px;
}
#pinion-backend .pinion-flag-de, #pinion-FrontendBox .pinion-flag-de, .cms .pinion-flag-de {
  background:url('../images/pinion-flags.png');
  background-position:-40px 0px;
}
#pinion-backend .pinion-flag-es, #pinion-FrontendBox .pinion-flag-es, .cms .pinion-flag-es {
  background:url('../images/pinion-flags.png');
  background-position:-60px 0px;
}
#pinion-backend .pinion-flag-fr, #pinion-FrontendBox .pinion-flag-fr, .cms .pinion-flag-fr {
  background:url('../images/pinion-flags.png');
  background-position:-80px 0px;
}
#pinion-backend .pinion-flag-it, #pinion-FrontendBox .pinion-flag-it, .cms .pinion-flag-it {
  background:url('../images/pinion-flags.png');
  background-position:-100px 0px;
}
#pinion-backend .pinion-flag-pt, #pinion-FrontendBox .pinion-flag-pt, .cms .pinion-flag-pt {
  background:url('../images/pinion-flags.png');
  background-position:-120px 0px;
}
#pinion-backend .pinion-flag-ru, #pinion-FrontendBox .pinion-flag-ru, .cms .pinion-flag-ru {
  background:url('../images/pinion-flags.png');
  background-position:-140px 0px;
}
#pinion-backend .pinion-flag-dn, #pinion-FrontendBox .pinion-flag-dn, .cms .pinion-flag-dn {
  background:url('../images/pinion-flags.png');
  background-position:-160px 0px;
}
#pinion-backend .pinion-flag-nw, #pinion-FrontendBox .pinion-flag-nw, .cms .pinion-flag-nw {
  background:url('../images/pinion-flags.png');
  background-position:-180px 0px;
}
#pinion-backend .pinion-flag-pl, #pinion-FrontendBox .pinion-flag-pl, .cms .pinion-flag-pl {
  background:url('../images/pinion-flags.png');
  background-position:-200px 0px;
}
#pinion-backend .pinion-flag-nl, #pinion-FrontendBox .pinion-flag-nl, .cms .pinion-flag-nl {
  background:url('../images/pinion-flags.png');
  background-position:-220px 0px;
}
#pinion-backend .pinion-flag-gr, #pinion-FrontendBox .pinion-flag-gr, .cms .pinion-flag-gr {
  background:url('../images/pinion-flags.png');
  background-position:-240px 0px;
}
#pinion-backend .pinion-flag-cz, #pinion-FrontendBox .pinion-flag-cz, .cms .pinion-flag-cz {
  background:url('../images/pinion-flags.png');
  background-position:-260px 0px;
}
#pinion-backend .pinion-flag-cr, #pinion-FrontendBox .pinion-flag-cr, .cms .pinion-flag-cr {
  background:url('../images/pinion-flags.png');
  background-position:-280px 0px;
}
#pinion-backend .pinion-flag-tk, #pinion-FrontendBox .pinion-flag-tk, .cms .pinion-flag-tk {
  background:url('../images/pinion-flags.png');
  background-position:-300px 0px;
}
#pinion-backend .pinion-flag-sw, #pinion-FrontendBox .pinion-flag-sw, .cms .pinion-flag-sw {
  background:url('../images/pinion-flags.png');
  background-position:-320px 0px;
}
#pinion-backend .pinion-flag-ar, #pinion-FrontendBox .pinion-flag-ar, .cms .pinion-flag-ar {
  background:url('../images/pinion-flags.png');
  background-position:-340px 0px;
}
#pinion-backend .pinion-flag-bu, #pinion-FrontendBox .pinion-flag-bu, .cms .pinion-flag-bu {
  background:url('../images/pinion-flags.png');
  background-position:-360px 0px;
}
#pinion-backend .pinion-flag-cu, #pinion-FrontendBox .pinion-flag-cu, .cms .pinion-flag-cu {
  background:url('../images/pinion-flags.png');
  background-position:-380px 0px;
}
#pinion-backend .pinion-flag-gh, #pinion-FrontendBox .pinion-flag-gh, .cms .pinion-flag-gh {
  background:url('../images/pinion-flags.png');
  background-position:-400px 0px;
}
#pinion-backend .pinion-flag-hu, #pinion-FrontendBox .pinion-flag-hu, .cms .pinion-flag-hu {
  background:url('../images/pinion-flags.png');
  background-position:-420px 0px;
}
#pinion-backend .pinion-flag-in, #pinion-FrontendBox .pinion-flag-in, .cms .pinion-flag-in {
  background:url('../images/pinion-flags.png');
  background-position:-440px 0px;
}
#pinion-backend .pinion-flag-ja, #pinion-FrontendBox .pinion-flag-ja, .cms .pinion-flag-ja {
  background:url('../images/pinion-flags.png');
  background-position:-460px 0px;
}
#pinion-backend .pinion-flag-mx, #pinion-FrontendBox .pinion-flag-mx, .cms .pinion-flag-mx {
  background:url('../images/pinion-flags.png');
  background-position:-480px 0px;
}
#pinion-backend .pinion-flag-sr, #pinion-FrontendBox .pinion-flag-sr, .cms .pinion-flag-sr {
  background:url('../images/pinion-flags.png');
  background-position:-500px 0px;
}
#pinion-backend .pinion-flag-sv, #pinion-FrontendBox .pinion-flag-sv, .cms .pinion-flag-sv {
  background:url('../images/pinion-flags.png');
  background-position:-520px 0px;
}
#pinion-backend .pinion-flag-sl, #pinion-FrontendBox .pinion-flag-sl, .cms .pinion-flag-sl {
  background:url('../images/pinion-flags.png');
  background-position:-540px 0px;
}
#pinion-backend .pinion-flag-uk, #pinion-FrontendBox .pinion-flag-uk, .cms .pinion-flag-uk {
  background:url('../images/pinion-flags.png');
  background-position:-560px 0px;
}
#pinion-backend .pinion-flag-ur, #pinion-FrontendBox .pinion-flag-ur, .cms .pinion-flag-ur {
  background:url('../images/pinion-flags.png');
  background-position:-580px 0px;
}
