#pinion-backend .pinion-backend-renderer-SimpleWordRenderer {
  color:#1a292b;
  min-height:55px;
  min-width:520px;
}
#pinion-backend .pinion-backend-renderer-SimpleWordRenderer:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
#pinion-backend .pinion-backend-renderer-SimpleWordRenderer .pinion-flag {
  float:left;
  display:inline;
  margin:10px 20px 10px 20px;
}
#pinion-backend .pinion-backend-renderer-SimpleWordRenderer .pinion-translation {
  float:left;
  display:inline;
  margin-top:5px;
  width:360px;
  margin-right:50px;
}
#pinion-backend .pinion-backend-renderer-SimpleWordRenderer > .pinion-renderer-bar { top:7px; }
#pinion-backend .pinion-backend-renderer-SimpleWordRenderer.dirty .pinion-backend-icon-dirty {
  position:absolute;
  top:5px;
  right:5px;
}
