#pinion-backend .pinion-backend-renderer-TranslationRenderer {
  color:#1a292b;
  min-height:0px;
  min-width:534px;
  padding-left:12px;
  padding-top:5px;
  padding-bottom:5px;
}
#pinion-backend .pinion-backend-renderer-TranslationRenderer > .pinion-backend-list-Finder { margin:0; }
#pinion-backend .pinion-backend-renderer-TranslationRenderer > .pinion-backend-list-Finder > .pinion-backend-list-floatContainer > .pinion-backend-list-Finder-labels { display:none; }
#pinion-backend .pinion-backend-renderer-TranslationRenderer.dirty .pinion-backend-icon-dirty {
  position:absolute;
  top:5px;
  right:5px;
}
