#menu ul.main-menu { height:20px; }
#menu ul.main-menu > li {
  float:left;
  margin-right:25px;
  position:relative;
}
#menu ul.main-menu > li > a {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:16px;
  line-height:20px;
  color:#ffffff;
  height:20px;
  width:100%;
  display:block;
  opacity:0.5;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter:alpha(opacity=50);
}
#menu ul.main-menu > li > a > .main-menu-icon {
  float:left;
  display:block;
  width:20px;
  height:20px;
}
#menu ul.main-menu > li > a > .main-menu-text {
  float:left;
  display:block;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:16px;
  line-height:20px;
  color:#ffffff;
  padding-left:5px;
}
#menu ul.main-menu > li > a.active, #menu ul.main-menu > li > a.activeBranch {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter:alpha(opacity=100);
}
#menu ul.main-menu > li > a.active:after, #menu ul.main-menu > li > a.activeBranch:after {
  content:url("../images/menu-arrow-top.png");
  width:16px;
  height:8px;
  display:block;
  position:absolute;
  top:23px;
  left:50%;
  margin-left:-8px;
}
#menu ul.main-menu > li:last-child { margin-right:0; }
#menu ul.main-menu:hover > li > a.active {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter:alpha(opacity=100);
}
#menu ul.main-menu:hover > li:hover > a {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter:alpha(opacity=100);
}
.main-menu-url-discover .main-menu-icon { background:url("../images/menu.png") 0 0; }
.main-menu-url-develop .main-menu-icon { background:url("../images/menu.png") 80px 0; }
.main-menu-url-module .main-menu-icon { background:url("../images/menu.png") 60px 0; }
.main-menu-url-template .main-menu-icon { background:url("../images/menu.png") 40px 0; }
.main-menu-url-references .main-menu-icon { background:url("../images/menu.png") 20px 0; }
