#pinion-FrontendBox .pinion-modules-comment-Preview { cursor:pointer; }
#pinion-FrontendBox .pinion-modules-comment-Preview * { cursor:pointer; }
.cms .pinion-modules-comment-Preview, #pinion-backend .pinion-modules-comment-Preview, #pinion-FrontendBox .pinion-modules-comment-Preview {
  position:relative;
  overflow:hidden;
  width:100%;
  height:100%;
  clear:both;
}
.cms .pinion-modules-comment-Preview:after, #pinion-backend .pinion-modules-comment-Preview:after, #pinion-FrontendBox .pinion-modules-comment-Preview:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
.cms .pinion-modules-comment-Preview > .pinion-preview-info, #pinion-backend .pinion-modules-comment-Preview > .pinion-preview-info, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-preview-info {
  height:25px;
  border-bottom:1px solid #8c9b9b;
  clear:both;
}
.cms .pinion-modules-comment-Preview > .pinion-preview-info:after, #pinion-backend .pinion-modules-comment-Preview > .pinion-preview-info:after, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-preview-info:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
.cms .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos, #pinion-backend .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos {
  position:absolute;
  top:0;
  left:0;
  height:25px;
  width:175px;
  overflow:hidden;
}
.cms .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move, #pinion-backend .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move {
  width:10000px;
  height:25px;
  position:absolute;
  top:0;
  left:0;
  overflow:hidden;
}
.cms .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul, #pinion-backend .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul {
  position:absolute;
  top:0;
  left:0;
}
.cms .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul:after, #pinion-backend .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul:after, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
.cms .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul > li, #pinion-backend .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul > li, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul > li {
  float:left;
  display:block;
  width:auto;
  height:20px;
  margin-right:5px;
  padding-left:2px;
  padding-right:5px;
  border-right:1px solid #8c9b9b;
  position:relative;
}
.cms .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul > li:after, #pinion-backend .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul > li:after, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul > li:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
.cms .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul > li:last-child, #pinion-backend .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul > li:last-child, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul > li:last-child { border-right:none; }
.cms .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul > li > .pinion-comment-info, #pinion-backend .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul > li > .pinion-comment-info, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul > li > .pinion-comment-info {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:13px;
  font-size:11px;
  color:#edf2f2;
  line-height:20px;
  height:20px;
  display:block;
  float:left;
  padding-left:3px;
  padding-right:3px;
}
.cms .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul > li > .pinion-comment-icon, #pinion-backend .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul > li > .pinion-comment-icon, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul > li > .pinion-comment-icon {
  display:block;
  float:left;
}
.cms .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul > li.pinion-yes > .pinion-comment-info, #pinion-backend .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul > li.pinion-yes > .pinion-comment-info, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul > li.pinion-yes > .pinion-comment-info { color:#88a852; }
.cms .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul > li.pinion-yes > .pinion-comment-icon, #pinion-backend .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul > li.pinion-yes > .pinion-comment-icon, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul > li.pinion-yes > .pinion-comment-icon {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-440px -100px;
  width:11px;
  height:9px;
  margin-top:5px;
  margin-right:3px;
}
.cms .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul > li.pinion-no > .pinion-comment-info, #pinion-backend .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul > li.pinion-no > .pinion-comment-info, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul > li.pinion-no > .pinion-comment-info { color:#e1604b; }
.cms .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul > li.pinion-no > .pinion-comment-icon, #pinion-backend .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul > li.pinion-no > .pinion-comment-icon, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-comment-infos > .pinion-horizontal-move > ul > li.pinion-no > .pinion-comment-icon { display:none; }
.cms .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-count, #pinion-backend .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-count, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-count {
  position:absolute;
  top:0;
  right:0;
  height:20px;
  width:60px;
  overflow:hidden;
  border-left:1px solid #edf2f2;
  clear:both;
}
.cms .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-count:after, #pinion-backend .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-count:after, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-count:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
.cms .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-count > .pinion-icon, #pinion-backend .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-count > .pinion-icon, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-count > .pinion-icon {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-940px -40px;
  width:20px;
  height:20px;
  float:left;
  margin-left:3px;
}
.cms .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-count > .pinion-text, #pinion-backend .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-count > .pinion-text, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-preview-info > .pinion-count > .pinion-text {
  display:block;
  float:left;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:13px;
  font-size:12px;
  font-weight:900;
  color:#edf2f2;
  line-height:20px;
  height:20px;
  padding-left:3px;
}
.cms .pinion-modules-comment-Preview > .pinion-vertical-move, #pinion-backend .pinion-modules-comment-Preview > .pinion-vertical-move, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-vertical-move {
  height:10000px;
  width:240px;
  position:absolute;
  top:25px;
  left:0;
  overflow:hidden;
}
.cms .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments, #pinion-backend .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments {
  position:absolute;
  left:0;
  top:0;
}
.cms .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li, #pinion-backend .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li {
  width:240px;
  height:180px;
  border-bottom:1px solid #8c9b9b;
}
.cms .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li:last-child, #pinion-backend .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li:last-child, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li:last-child { border-bottom:none; }
.cms .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li > div, #pinion-backend .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li > div, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li > div {
  margin-bottom:2px;
  color:#edf2f2;
}
.cms .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li > .pinion-comment-name, .cms .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li > .pinion-comment-email, .cms .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li > .pinion-comment-homepage, .cms .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li > .pinion-comment-subject, .cms .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li > .pinion-comment-text, #pinion-backend .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li > .pinion-comment-name, #pinion-backend .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li > .pinion-comment-email, #pinion-backend .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li > .pinion-comment-homepage, #pinion-backend .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li > .pinion-comment-subject, #pinion-backend .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li > .pinion-comment-text, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li > .pinion-comment-name, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li > .pinion-comment-email, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li > .pinion-comment-homepage, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li > .pinion-comment-subject, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li > .pinion-comment-text {
  line-height:13px;
  font-size:10px;
}
.cms .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li > .pinion-comment-subject, #pinion-backend .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li > .pinion-comment-subject, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li > .pinion-comment-subject { font-weight:900; }
.cms .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li > .pinion-comment-text, #pinion-backend .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li > .pinion-comment-text, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li > .pinion-comment-text {
  padding-top:7px;
  line-height:15px;
  font-size:12px;
}
.cms .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li > .pinion-previewPlaceholder, #pinion-backend .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li > .pinion-previewPlaceholder, #pinion-FrontendBox .pinion-modules-comment-Preview > .pinion-vertical-move > ul.pinion-comments > li > .pinion-previewPlaceholder {
  width:240px;
  height:20px;
  padding-top:70px;
  padding-bottom:90px;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:13px;
  line-height:20px;
  color:#edf2f2;
  text-align:center;
}
