#pinion-FrontendBox .pinion-modules-headline-Preview { cursor:pointer; }
#pinion-FrontendBox .pinion-modules-headline-Preview * { cursor:pointer; }
.cms .pinion-modules-headline-Preview, #pinion-backend .pinion-modules-headline-Preview, #pinion-FrontendBox .pinion-modules-headline-Preview {
  overflow:hidden;
  width:100%;
  height:100%;
  position:relative;
}
.cms .pinion-modules-headline-Preview > .pinion-preview-info, #pinion-backend .pinion-modules-headline-Preview > .pinion-preview-info, #pinion-FrontendBox .pinion-modules-headline-Preview > .pinion-preview-info {
  height:20px;
  border-bottom:1px solid #8c9b9b;
  padding-bottom:5px;
  position:relative;
}
.cms .pinion-modules-headline-Preview > .pinion-preview-info > .pinion-headline-type, #pinion-backend .pinion-modules-headline-Preview > .pinion-preview-info > .pinion-headline-type, #pinion-FrontendBox .pinion-modules-headline-Preview > .pinion-preview-info > .pinion-headline-type {
  position:absolute;
  top:0;
  left:0;
  height:20px;
  width:100%;
  clear:both;
}
.cms .pinion-modules-headline-Preview > .pinion-preview-info > .pinion-headline-type:after, #pinion-backend .pinion-modules-headline-Preview > .pinion-preview-info > .pinion-headline-type:after, #pinion-FrontendBox .pinion-modules-headline-Preview > .pinion-preview-info > .pinion-headline-type:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
.cms .pinion-modules-headline-Preview > .pinion-preview-info > .pinion-headline-type > .pinion-icon, #pinion-backend .pinion-modules-headline-Preview > .pinion-preview-info > .pinion-headline-type > .pinion-icon, #pinion-FrontendBox .pinion-modules-headline-Preview > .pinion-preview-info > .pinion-headline-type > .pinion-icon {
  float:left;
  margin-right:5px;
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-1020px -40px;
  width:20px;
  height:20px;
}
.cms .pinion-modules-headline-Preview > .pinion-preview-info > .pinion-headline-type > .pinion-text, #pinion-backend .pinion-modules-headline-Preview > .pinion-preview-info > .pinion-headline-type > .pinion-text, #pinion-FrontendBox .pinion-modules-headline-Preview > .pinion-preview-info > .pinion-headline-type > .pinion-text {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight:900;
  line-height:20px;
  height:20px;
  color:#edf2f2;
  float:left;
}
.cms .pinion-modules-headline-Preview > .pinion-preview-info > .pinion-languages, #pinion-backend .pinion-modules-headline-Preview > .pinion-preview-info > .pinion-languages, #pinion-FrontendBox .pinion-modules-headline-Preview > .pinion-preview-info > .pinion-languages {
  position:absolute;
  right:0;
  top:0;
  height:20px;
  width:190px;
}
.cms .pinion-modules-headline-Preview > .pinion-preview-info > .pinion-languages > .pinion-flags, #pinion-backend .pinion-modules-headline-Preview > .pinion-preview-info > .pinion-languages > .pinion-flags, #pinion-FrontendBox .pinion-modules-headline-Preview > .pinion-preview-info > .pinion-languages > .pinion-flags { clear:both; }
.cms .pinion-modules-headline-Preview > .pinion-preview-info > .pinion-languages > .pinion-flags:after, #pinion-backend .pinion-modules-headline-Preview > .pinion-preview-info > .pinion-languages > .pinion-flags:after, #pinion-FrontendBox .pinion-modules-headline-Preview > .pinion-preview-info > .pinion-languages > .pinion-flags:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
.cms .pinion-modules-headline-Preview > .pinion-preview-info > .pinion-languages > .pinion-flags > li, #pinion-backend .pinion-modules-headline-Preview > .pinion-preview-info > .pinion-languages > .pinion-flags > li, #pinion-FrontendBox .pinion-modules-headline-Preview > .pinion-preview-info > .pinion-languages > .pinion-flags > li {
  float:right;
  margin-right:3px;
}
.cms .pinion-modules-headline-Preview > .pinion-vertical-move, #pinion-backend .pinion-modules-headline-Preview > .pinion-vertical-move, #pinion-FrontendBox .pinion-modules-headline-Preview > .pinion-vertical-move {
  height:10000px;
  width:240px;
  position:absolute;
  top:25px;
  left:0;
  overflow:hidden;
}
.cms .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text, #pinion-backend .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text, #pinion-FrontendBox .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text {
  position:absolute;
  left:0;
  top:0;
}
.cms .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text > h1, .cms .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text > h2, .cms .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text > h3, .cms .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text > h4, .cms .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text > h5, .cms .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text > h6, #pinion-backend .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text > h1, #pinion-backend .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text > h2, #pinion-backend .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text > h3, #pinion-backend .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text > h4, #pinion-backend .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text > h5, #pinion-backend .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text > h6, #pinion-FrontendBox .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text > h1, #pinion-FrontendBox .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text > h2, #pinion-FrontendBox .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text > h3, #pinion-FrontendBox .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text > h4, #pinion-FrontendBox .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text > h5, #pinion-FrontendBox .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text > h6 {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  color:#edf2f2;
  line-height:20px;
  margin-top:5px;
}
.cms .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text h1, #pinion-backend .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text h1, #pinion-FrontendBox .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text h1 { font-size:17px; }
.cms .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text h2, #pinion-backend .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text h2, #pinion-FrontendBox .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text h2 { font-size:16px; }
.cms .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text h3, #pinion-backend .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text h3, #pinion-FrontendBox .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text h3 { font-size:15px; }
.cms .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text h4, #pinion-backend .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text h4, #pinion-FrontendBox .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text h4 { font-size:14px; }
.cms .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text h5, #pinion-backend .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text h5, #pinion-FrontendBox .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text h5 { font-size:13px; }
.cms .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text h6, #pinion-backend .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text h6, #pinion-FrontendBox .pinion-modules-headline-Preview > .pinion-vertical-move > .pinion-headline-text h6 { font-size:12px; }
