#pinion-FrontendBox .pinion-modules-search-Preview { cursor:pointer; }
#pinion-FrontendBox .pinion-modules-search-Preview * { cursor:pointer; }
.cms .pinion-modules-search-Preview, #pinion-backend .pinion-modules-search-Preview, #pinion-FrontendBox .pinion-modules-search-Preview {
  position:relative;
  overflow:hidden;
  width:100%;
  height:100%;
  text-align:center;
  clear:both;
}
.cms .pinion-modules-search-Preview:after, #pinion-backend .pinion-modules-search-Preview:after, #pinion-FrontendBox .pinion-modules-search-Preview:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
.cms .pinion-modules-search-Preview > .pinion-preview-info, #pinion-backend .pinion-modules-search-Preview > .pinion-preview-info, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-preview-info {
  height:20px;
  border-bottom:1px solid #8c9b9b;
  padding-bottom:5px;
  clear:both;
}
.cms .pinion-modules-search-Preview > .pinion-preview-info:after, #pinion-backend .pinion-modules-search-Preview > .pinion-preview-info:after, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-preview-info:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
.cms .pinion-modules-search-Preview > .pinion-preview-info > .pinion-search-site-info, #pinion-backend .pinion-modules-search-Preview > .pinion-preview-info > .pinion-search-site-info, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-preview-info > .pinion-search-site-info {
  position:absolute;
  top:0;
  left:0;
  height:20px;
  width:175px;
  overflow:hidden;
}
.cms .pinion-modules-search-Preview > .pinion-preview-info > .pinion-search-site-info > .pinion-horizontal-move, #pinion-backend .pinion-modules-search-Preview > .pinion-preview-info > .pinion-search-site-info > .pinion-horizontal-move, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-preview-info > .pinion-search-site-info > .pinion-horizontal-move {
  width:10000px;
  height:20px;
  position:absolute;
  top:0;
  left:0;
  overflow:hidden;
}
.cms .pinion-modules-search-Preview > .pinion-preview-info > .pinion-search-site-info > .pinion-horizontal-move > .pinion-search-site, #pinion-backend .pinion-modules-search-Preview > .pinion-preview-info > .pinion-search-site-info > .pinion-horizontal-move > .pinion-search-site, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-preview-info > .pinion-search-site-info > .pinion-horizontal-move > .pinion-search-site {
  position:absolute;
  top:0;
  left:0;
}
.cms .pinion-modules-search-Preview > .pinion-preview-info > .pinion-search-site-info > .pinion-horizontal-move > .pinion-search-site:after, #pinion-backend .pinion-modules-search-Preview > .pinion-preview-info > .pinion-search-site-info > .pinion-horizontal-move > .pinion-search-site:after, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-preview-info > .pinion-search-site-info > .pinion-horizontal-move > .pinion-search-site:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
.cms .pinion-modules-search-Preview > .pinion-preview-info > .pinion-search-site-info > .pinion-horizontal-move > .pinion-search-site > span, #pinion-backend .pinion-modules-search-Preview > .pinion-preview-info > .pinion-search-site-info > .pinion-horizontal-move > .pinion-search-site > span, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-preview-info > .pinion-search-site-info > .pinion-horizontal-move > .pinion-search-site > span {
  float:left;
  display:block;
  width:auto;
  height:20px;
}
.cms .pinion-modules-search-Preview > .pinion-preview-info > .pinion-search-site-info > .pinion-horizontal-move > .pinion-search-site > span:after, #pinion-backend .pinion-modules-search-Preview > .pinion-preview-info > .pinion-search-site-info > .pinion-horizontal-move > .pinion-search-site > span:after, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-preview-info > .pinion-search-site-info > .pinion-horizontal-move > .pinion-search-site > span:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
.cms .pinion-modules-search-Preview > .pinion-preview-info > .pinion-search-site-info > .pinion-horizontal-move > .pinion-search-site > span.pinion-icon, #pinion-backend .pinion-modules-search-Preview > .pinion-preview-info > .pinion-search-site-info > .pinion-horizontal-move > .pinion-search-site > span.pinion-icon, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-preview-info > .pinion-search-site-info > .pinion-horizontal-move > .pinion-search-site > span.pinion-icon {
  display:none;
  width:20px;
  height:20px;
  background:#ff0000;
}
.cms .pinion-modules-search-Preview > .pinion-preview-info > .pinion-search-site-info > .pinion-horizontal-move > .pinion-search-site > span.pinion-text, #pinion-backend .pinion-modules-search-Preview > .pinion-preview-info > .pinion-search-site-info > .pinion-horizontal-move > .pinion-search-site > span.pinion-text, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-preview-info > .pinion-search-site-info > .pinion-horizontal-move > .pinion-search-site > span.pinion-text {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#edf2f2;
  line-height:20px;
  padding-left:3px;
}
.cms .pinion-modules-search-Preview > .pinion-horizontal-move, #pinion-backend .pinion-modules-search-Preview > .pinion-horizontal-move, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-horizontal-move {
  width:10000px;
  height:55px;
  position:absolute;
  left:0;
  top:45px;
  overflow:hidden;
}
.cms .pinion-modules-search-Preview > .pinion-horizontal-move > ul.pinion-search-modules, #pinion-backend .pinion-modules-search-Preview > .pinion-horizontal-move > ul.pinion-search-modules, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-horizontal-move > ul.pinion-search-modules {
  position:absolute;
  top:0;
  left:0;
}
.cms .pinion-modules-search-Preview > .pinion-horizontal-move > ul.pinion-search-modules:after, #pinion-backend .pinion-modules-search-Preview > .pinion-horizontal-move > ul.pinion-search-modules:after, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-horizontal-move > ul.pinion-search-modules:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
.cms .pinion-modules-search-Preview > .pinion-horizontal-move > ul.pinion-search-modules li, #pinion-backend .pinion-modules-search-Preview > .pinion-horizontal-move > ul.pinion-search-modules li, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-horizontal-move > ul.pinion-search-modules li {
  margin-right:10px;
  float:left;
  display:block;
  width:auto;
}
.cms .pinion-modules-search-Preview > .pinion-horizontal-move > ul.pinion-search-modules li > .pinion-module-icon, #pinion-backend .pinion-modules-search-Preview > .pinion-horizontal-move > ul.pinion-search-modules li > .pinion-module-icon, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-horizontal-move > ul.pinion-search-modules li > .pinion-module-icon {
  display:block;
  width:30px;
  height:30px;
  overflow:hidden;
  margin:0 auto;
}
.cms .pinion-modules-search-Preview > .pinion-horizontal-move > ul.pinion-search-modules li > .pinion-module-icon > img, #pinion-backend .pinion-modules-search-Preview > .pinion-horizontal-move > ul.pinion-search-modules li > .pinion-module-icon > img, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-horizontal-move > ul.pinion-search-modules li > .pinion-module-icon > img { width:30px; }
.cms .pinion-modules-search-Preview > .pinion-horizontal-move > ul.pinion-search-modules li > .pinion-module-name, #pinion-backend .pinion-modules-search-Preview > .pinion-horizontal-move > ul.pinion-search-modules li > .pinion-module-name, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-horizontal-move > ul.pinion-search-modules li > .pinion-module-name {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:13px;
  font-size:10px;
  color:#edf2f2;
  line-height:20px;
  height:20px;
  display:block;
  text-align:center;
}
.cms .pinion-modules-search-Preview > .pinion-search-withResults, #pinion-backend .pinion-modules-search-Preview > .pinion-search-withResults, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-search-withResults {
  position:absolute;
  top:120px;
  left:0;
  height:20px;
  width:100%;
}
.cms .pinion-modules-search-Preview > .pinion-search-withResults > .pinion-text, #pinion-backend .pinion-modules-search-Preview > .pinion-search-withResults > .pinion-text, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-search-withResults > .pinion-text {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:13px;
  font-size:11px;
  color:#edf2f2;
  font-weight:900;
  line-height:20px;
  height:20px;
  display:block;
  float:left;
  padding-right:3px;
}
.cms .pinion-modules-search-Preview > .pinion-search-withResults > .pinion-icon, #pinion-backend .pinion-modules-search-Preview > .pinion-search-withResults > .pinion-icon, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-search-withResults > .pinion-icon {
  display:block;
  float:left;
}
.cms .pinion-modules-search-Preview > .pinion-search-withResults > .pinion-count, #pinion-backend .pinion-modules-search-Preview > .pinion-search-withResults > .pinion-count, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-search-withResults > .pinion-count {
  height:20px;
  width:80px;
  float:left;
  padding-left:20px;
}
.cms .pinion-modules-search-Preview > .pinion-search-withResults > .pinion-count > .pinion-icon, #pinion-backend .pinion-modules-search-Preview > .pinion-search-withResults > .pinion-count > .pinion-icon, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-search-withResults > .pinion-count > .pinion-icon {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-940px -40px;
  width:20px;
  height:20px;
  float:left;
  margin-left:3px;
}
.cms .pinion-modules-search-Preview > .pinion-search-withResults > .pinion-count > .pinion-text, #pinion-backend .pinion-modules-search-Preview > .pinion-search-withResults > .pinion-count > .pinion-text, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-search-withResults > .pinion-count > .pinion-text {
  display:block;
  float:left;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:13px;
  font-size:12px;
  font-weight:900;
  color:#edf2f2;
  line-height:20px;
  height:20px;
  padding-left:3px;
}
.cms .pinion-modules-search-Preview > .pinion-search-withResults.pinion-yes > .pinion-text, #pinion-backend .pinion-modules-search-Preview > .pinion-search-withResults.pinion-yes > .pinion-text, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-search-withResults.pinion-yes > .pinion-text { color:#88a852; }
.cms .pinion-modules-search-Preview > .pinion-search-withResults.pinion-yes > .pinion-icon, #pinion-backend .pinion-modules-search-Preview > .pinion-search-withResults.pinion-yes > .pinion-icon, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-search-withResults.pinion-yes > .pinion-icon {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-440px -100px;
  width:11px;
  height:9px;
  margin-top:5px;
}
.cms .pinion-modules-search-Preview > .pinion-search-withResults.pinion-yes > .pinion-count, #pinion-backend .pinion-modules-search-Preview > .pinion-search-withResults.pinion-yes > .pinion-count, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-search-withResults.pinion-yes > .pinion-count { display:block; }
.cms .pinion-modules-search-Preview > .pinion-search-withResults.pinion-no > .pinion-text, #pinion-backend .pinion-modules-search-Preview > .pinion-search-withResults.pinion-no > .pinion-text, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-search-withResults.pinion-no > .pinion-text { color:#e1604b; }
.cms .pinion-modules-search-Preview > .pinion-search-withResults.pinion-no > .pinion-icon, #pinion-backend .pinion-modules-search-Preview > .pinion-search-withResults.pinion-no > .pinion-icon, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-search-withResults.pinion-no > .pinion-icon { display:none; }
.cms .pinion-modules-search-Preview > .pinion-search-withResults.pinion-no > .pinion-count, #pinion-backend .pinion-modules-search-Preview > .pinion-search-withResults.pinion-no > .pinion-count, #pinion-FrontendBox .pinion-modules-search-Preview > .pinion-search-withResults.pinion-no > .pinion-count { display:none; }
