* {
  margin:0;
  padding:0;
}
a { text-decoration:none; }
ul { list-style:none; }
body {
  margin:0;
  padding:0;
  background:url(../images/background.png) repeat-x;
  background-color:#1a292b;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
}
#pageWrapper {
  width:1000px;
  height:500px;
  margin:0 auto;
  position:relative;
}
#pageWrapper #header {
  position:relative;
  width:1000px;
}
#pageWrapper #header #logo {
  display:block;
  text-indent:-9999px;
  width:250px;
  height:115px;
  margin-top:20px;
  margin-left:20px;
  margin-bottom:15px;
  background:url("../images/pinion-logo.png");
}
#pageWrapper #header #menu {
  position:absolute;
  top:91px;
  right:30px;
}
#pageWrapper #header #searchBox {
  position:absolute;
  top:0px;
  right:0px;
  width:250px;
  height:20px;
}
#pageWrapper #header #searchBox:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
#pageWrapper #header #searchBox input {
  width:220px;
  float:left;
  color:#8c9b9b;
}
#pageWrapper #header #searchBox .icon-search {
  float:left;
  width:20px;
  height:20px;
  background:#e1604b;
  margin-left:5px;
}
#pageWrapper #header #languageSwitcher {
  position:absolute;
  top:30px;
  right:0px;
}
#pageWrapper #page-content {
  width:940px;
  background:#ffffff;
  padding-left:30px;
  padding-right:30px;
  padding-top:54px;
  padding-bottom:54px;
  clear:both;
}
#pageWrapper #page-content:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
#pageWrapper #page-content .column {
  float:left;
  margin-right:20px;
  margin-bottom:20px;
}
#pageWrapper #page-content .column.column-1 { width:220px; }
#pageWrapper #page-content .column.column-2 { width:460px; }
#pageWrapper #page-content .column.column-3 { width:700px; }
#pageWrapper #page-content .column.column-4 { width:940px; }
#pageWrapper #page-content .column.last-column { margin-right:0px; }
#pageWrapper #page-content .column.first-column { clear:both; }
#pageWrapper #page-content > h1.pinion-page-title {
  font-family:'Asap', sans-serif;
  font-style:italic;
  color:#1a292b;
  font-size:30px;
  line-height:30px;
  padding-bottom:15px;
}
#pageWrapper #page-content .sidebar > *:after {
  content:"";
  display:block;
  text-indent:-9999px;
  border-bottom:1px solid #8c9b9b;
  width:100%;
  height:0;
  padding-bottom:35px;
  margin-bottom:35px;
}
#pageWrapper #footer {
  width:940px;
  padding-left:30px;
  padding-right:30px;
  padding-top:10px;
  padding-bottom:20px;
  text-align:right;
  color:#edf2f2;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:14px;
}
