@import url("http://fonts.googleapis.com/css?family=Asap:700italic,700,400italic,400");
#pageWrapper > #page-content > .content-area > ul.tab-list {
  clear:both;
  width:660px;
  padding-left:20px;
  padding-right:20px;
  padding-top:20px;
  height:26px;
  border-bottom:1px solid #8c9b9b;
}
#pageWrapper > #page-content > .content-area > ul.tab-list > li {
  float:left;
  height:20px;
  line-height:20px;
  padding:0 20px;
  margin-top:5px;
  margin-left:-1px;
  border-top:1px solid #8c9b9b;
  border-right:1px solid #8c9b9b;
  border-left:1px solid #8c9b9b;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:14px;
  color:#184f50;
  cursor:pointer;
}
#pageWrapper > #page-content > .content-area > ul.tab-list > li:first-child {
  border-left:1px solid #8c9b9b;
  margin-left:0;
}
#pageWrapper > #page-content > .content-area > ul.tab-list > li:hover, #pageWrapper > #page-content > .content-area > ul.tab-list > li.active-tab {
  margin-top:0;
  height:25px;
  line-height:25px;
}
#pageWrapper > #page-content > .content-area > ul.tab-list > li.active-tab { border-bottom:1px solid #ffffff; }
#pageWrapper > #page-content > .content-area .module-tab {
  padding-top:20px;
  padding-bottom:50px;
  border-bottom:1px solid #8c9b9b;
}
