h1.pinion-headline-rightColumn, h2.pinion-headline-rightColumn, h3.pinion-headline-rightColumn, h4.pinion-headline-rightColumn, h5.pinion-headline-rightColumn, h6.pinion-headline-rightColumn {
  font-family:'Asap', sans-serif;
  font-style:italic;
  color:#185859;
  font-size:16px;
  line-height:21px;
}
