#pinion-backend .pinion-backend-renderer-MenuitemRenderer, .cms .pinion-backend-renderer-MenuitemRenderer {
  color:#1a292b;
  min-width:300px;
  padding-top:7px;
  padding-bottom:7px;
}
#pinion-backend .pinion-backend-renderer-MenuitemRenderer .pinion-backend-input-UpdateTextbox, .cms .pinion-backend-renderer-MenuitemRenderer .pinion-backend-input-UpdateTextbox {
  margin-left:20px;
  margin-right:50px;
  width:310px;
  padding:0;
}
#pinion-backend .pinion-backend-renderer-MenuitemRenderer .pinion-backend-input-UpdateTextbox:after, .cms .pinion-backend-renderer-MenuitemRenderer .pinion-backend-input-UpdateTextbox:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
#pinion-backend .pinion-backend-renderer-MenuitemRenderer .pinion-backend-input-UpdateTextbox .pinion-label, .cms .pinion-backend-renderer-MenuitemRenderer .pinion-backend-input-UpdateTextbox .pinion-label {
  float:left;
  width:50px;
}
#pinion-backend .pinion-backend-renderer-MenuitemRenderer .pinion-backend-input-UpdateTextbox .pinion-backend-inputwrapper, .cms .pinion-backend-renderer-MenuitemRenderer .pinion-backend-input-UpdateTextbox .pinion-backend-inputwrapper {
  float:left;
  margin-left:5px;
}
#pinion-backend .pinion-backend-renderer-MenuitemRenderer .pinion-backend-input-UpdateTextbox .pinion-textContainer .pinion-text, .cms .pinion-backend-renderer-MenuitemRenderer .pinion-backend-input-UpdateTextbox .pinion-textContainer .pinion-text {
  font-weight:900;
  margin-top:0;
}
#pinion-backend .pinion-backend-renderer-MenuitemRenderer.dirty .pinion-backend-icon-dirty, .cms .pinion-backend-renderer-MenuitemRenderer.dirty .pinion-backend-icon-dirty {
  position:absolute;
  top:5px;
  right:5px;
}
