h1.module-category-name, h2.module-category-name, h3.module-category-name, h4.module-category-name, h5.module-category-name, h6.module-category-name {
  font-family:'Asap', sans-serif;
  font-style:italic;
  color:#8c9b9b;
  font-size:23px;
  line-height:23px;
  padding-top:80px;
  padding-bottom:15px;
}
h1.module-category-name:first-child, h2.module-category-name:first-child, h3.module-category-name:first-child, h4.module-category-name:first-child, h5.module-category-name:first-child, h6.module-category-name:first-child { padding-top:0; }
