#pinion-FrontendBox .pinion-modules-link-Preview { cursor:pointer; }
#pinion-FrontendBox .pinion-modules-link-Preview * { cursor:pointer; }
.cms .pinion-modules-link-Preview, #pinion-backend .pinion-modules-link-Preview, #pinion-FrontendBox .pinion-modules-link-Preview {
  position:relative;
  overflow:hidden;
  width:100%;
  height:100%;
  text-align:center;
  clear:both;
}
.cms .pinion-modules-link-Preview:after, #pinion-backend .pinion-modules-link-Preview:after, #pinion-FrontendBox .pinion-modules-link-Preview:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
.cms .pinion-modules-link-Preview > .pinion-preview-info, #pinion-backend .pinion-modules-link-Preview > .pinion-preview-info, #pinion-FrontendBox .pinion-modules-link-Preview > .pinion-preview-info {
  height:20px;
  border-bottom:1px solid #8c9b9b;
  padding-bottom:5px;
  clear:both;
}
.cms .pinion-modules-link-Preview > .pinion-preview-info:after, #pinion-backend .pinion-modules-link-Preview > .pinion-preview-info:after, #pinion-FrontendBox .pinion-modules-link-Preview > .pinion-preview-info:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
.cms .pinion-modules-link-Preview > .pinion-preview-info > .pinion-link-check, #pinion-backend .pinion-modules-link-Preview > .pinion-preview-info > .pinion-link-check, #pinion-FrontendBox .pinion-modules-link-Preview > .pinion-preview-info > .pinion-link-check {
  height:20px;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:11px;
  line-height:20px;
  color:#edf2f2;
}
.cms .pinion-modules-link-Preview > .pinion-preview-info > .pinion-link-check > .pinion-icon-check, #pinion-backend .pinion-modules-link-Preview > .pinion-preview-info > .pinion-link-check > .pinion-icon-check, #pinion-FrontendBox .pinion-modules-link-Preview > .pinion-preview-info > .pinion-link-check > .pinion-icon-check { display:none; }
.cms .pinion-modules-link-Preview > .pinion-preview-info > .pinion-link-check.pinion-yes > .pinion-icon-check, #pinion-backend .pinion-modules-link-Preview > .pinion-preview-info > .pinion-link-check.pinion-yes > .pinion-icon-check, #pinion-FrontendBox .pinion-modules-link-Preview > .pinion-preview-info > .pinion-link-check.pinion-yes > .pinion-icon-check {
  display:inline-block;
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-440px -40px;
  width:11px;
  height:9px;
  margin-left:3px;
}
.cms .pinion-modules-link-Preview > .pinion-vertical-move, #pinion-backend .pinion-modules-link-Preview > .pinion-vertical-move, #pinion-FrontendBox .pinion-modules-link-Preview > .pinion-vertical-move {
  height:10000px;
  width:240px;
  position:absolute;
  top:25px;
  left:0;
  overflow:hidden;
}
.cms .pinion-modules-link-Preview > .pinion-vertical-move > .pinion-link-infos, #pinion-backend .pinion-modules-link-Preview > .pinion-vertical-move > .pinion-link-infos, #pinion-FrontendBox .pinion-modules-link-Preview > .pinion-vertical-move > .pinion-link-infos {
  position:absolute;
  left:0;
  top:0;
  width:100%;
}
.cms .pinion-modules-link-Preview > .pinion-vertical-move > .pinion-link-infos > .pinion-link-label, #pinion-backend .pinion-modules-link-Preview > .pinion-vertical-move > .pinion-link-infos > .pinion-link-label, #pinion-FrontendBox .pinion-modules-link-Preview > .pinion-vertical-move > .pinion-link-infos > .pinion-link-label {
  width:100%;
  text-align:center;
  margin-top:10px;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:12px;
  line-height:20px;
  color:#edf2f2;
}
.cms .pinion-modules-link-Preview > .pinion-vertical-move > .pinion-link-infos > .pinion-moduleIcon-link, #pinion-backend .pinion-modules-link-Preview > .pinion-vertical-move > .pinion-link-infos > .pinion-moduleIcon-link, #pinion-FrontendBox .pinion-modules-link-Preview > .pinion-vertical-move > .pinion-link-infos > .pinion-moduleIcon-link {
  display:block;
  margin-top:5px;
  margin-left:95px;
  width:50px;
  height:50px;
  overflow:hidden;
}
.cms .pinion-modules-link-Preview > .pinion-vertical-move > .pinion-link-infos > .pinion-link-url, #pinion-backend .pinion-modules-link-Preview > .pinion-vertical-move > .pinion-link-infos > .pinion-link-url, #pinion-FrontendBox .pinion-modules-link-Preview > .pinion-vertical-move > .pinion-link-infos > .pinion-link-url {
  width:100%;
  text-align:center;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:12px;
  line-height:20px;
  color:#edf2f2;
  margin-bottom:10px;
}
