.pinion-module-info-small {
  position:relative;
  float:left;
  width:210px;
  margin-right:20px;
  margin-bottom:20px;
}
.pinion-module-info-small > .pinion-module-icon {
  position:absolute;
  top:0;
  left:0;
}
.pinion-module-info-small > h1.pinion-module-info-headline {
  margin-left:60px;
  width:160px;
  font-size:15px;
  line-height:17px;
}
.pinion-module-info-small > h2.pinion-module-info-headline, .pinion-module-info-small > h3.pinion-module-info-headline, .pinion-module-info-small > h4.pinion-module-info-headline, .pinion-module-info-small > h5.pinion-module-info-headline, .pinion-module-info-small > h6.pinion-module-info-headline {
  margin-left:60px;
  width:160px;
  font-size:11px;
  line-height:13px;
  padding-bottom:3px;
}
.pinion-module-info-small > .pinion-module-info-text { display:none; }
.pinion-module-info-small > .pinion-module-info-link {
  margin-left:60px;
  margin-right:7px;
  float:left;
}
.pinion-module-info-small > .pinion-module-info-link > .pinion-link-title { display:none; }
.pinion-module-info-small > .pinion-module-info-downloader { float:left; }
.pinion-module-info-small > .pinion-module-info-downloader > .pinion-download-title { display:none; }
