#pinion-backend .pinion-backend-renderer-FileRenderer, .cms .pinion-backend-renderer-FileRenderer {
  color:#1a292b;
  min-height:60px;
  min-width:500px;
}
#pinion-backend .pinion-backend-renderer-FileRenderer:after, .cms .pinion-backend-renderer-FileRenderer:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
#pinion-backend .pinion-backend-renderer-FileRenderer a, .cms .pinion-backend-renderer-FileRenderer a {
  color:#1a292b;
  text-decoration:none;
}
#pinion-backend .pinion-backend-renderer-FileRenderer .pinion-backend-icon-file, .cms .pinion-backend-renderer-FileRenderer .pinion-backend-icon-file {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-140px -140px;
  width:40px;
  height:40px;
  float:left;
  margin-left:10px;
  margin-top:10px;
  position:relative;
}
#pinion-backend .pinion-backend-renderer-FileRenderer .pinion-backend-icon-file div.pinion-backend-file-extension-container, .cms .pinion-backend-renderer-FileRenderer .pinion-backend-icon-file div.pinion-backend-file-extension-container {
  position:absolute;
  top:20px;
  left:14px;
  width:23px;
  height:13px;
}
#pinion-backend .pinion-backend-renderer-FileRenderer .pinion-backend-icon-file div.pinion-backend-file-extension-container div.pinion-backend-file-extension, .cms .pinion-backend-renderer-FileRenderer .pinion-backend-icon-file div.pinion-backend-file-extension-container div.pinion-backend-file-extension {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:13px;
  font-weight:900;
  font-size:9px;
  color:#edf2f2;
  width:100%;
  height:100%;
  text-align:center;
  padding-top:1px;
}
#pinion-backend .pinion-backend-renderer-FileRenderer .pinion-textWrapper, .cms .pinion-backend-renderer-FileRenderer .pinion-textWrapper {
  float:left;
  margin:10px 100px 10px 20px;
  font-size:12px;
}
#pinion-backend .pinion-backend-renderer-FileRenderer .pinion-textWrapper .pinion-backend-input-UpdateTextbox, .cms .pinion-backend-renderer-FileRenderer .pinion-textWrapper .pinion-backend-input-UpdateTextbox { padding:0; }
#pinion-backend .pinion-backend-renderer-FileRenderer .pinion-textWrapper .pinion-backend-input-UpdateTextbox .pinion-textContainer .pinion-text, .cms .pinion-backend-renderer-FileRenderer .pinion-textWrapper .pinion-backend-input-UpdateTextbox .pinion-textContainer .pinion-text {
  font-weight:900;
  font-style:italic;
}
#pinion-backend .pinion-backend-renderer-FileRenderer .pinion-textWrapper > .pinion-filename, .cms .pinion-backend-renderer-FileRenderer .pinion-textWrapper > .pinion-filename {
  font-weight:900;
  padding-bottom:10px;
}
#pinion-backend .pinion-backend-renderer-FileRenderer .pinion-textWrapper .pinion-backend-file-info:after, .cms .pinion-backend-renderer-FileRenderer .pinion-textWrapper .pinion-backend-file-info:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
#pinion-backend .pinion-backend-renderer-FileRenderer .pinion-textWrapper .pinion-backend-file-info > div, .cms .pinion-backend-renderer-FileRenderer .pinion-textWrapper .pinion-backend-file-info > div {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:13px;
  font-size:11px;
  display:inline;
  margin-right:20px;
  float:left;
}
#pinion-backend .pinion-backend-renderer-FileRenderer .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-download, .cms .pinion-backend-renderer-FileRenderer .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-download { cursor:pointer; }
#pinion-backend .pinion-backend-renderer-FileRenderer .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-download > div, .cms .pinion-backend-renderer-FileRenderer .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-download > div {
  float:left;
  margin-right:3px;
  cursor:pointer;
}
#pinion-backend .pinion-backend-renderer-FileRenderer .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-download > .pinion-backend-icon-download, .cms .pinion-backend-renderer-FileRenderer .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-download > .pinion-backend-icon-download {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-780px 0;
  width:12px;
  height:12px;
}
#pinion-backend .pinion-backend-renderer-FileRenderer .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-download > .pinion-text, .cms .pinion-backend-renderer-FileRenderer .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-download > .pinion-text { color:#107886; }
#pinion-backend .pinion-backend-renderer-FileRenderer .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-download:hover > .pinion-text, .cms .pinion-backend-renderer-FileRenderer .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-download:hover > .pinion-text { color:#185859; }
#pinion-backend .pinion-backend-renderer-FileRenderer .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-link, .cms .pinion-backend-renderer-FileRenderer .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-link { cursor:pointer; }
#pinion-backend .pinion-backend-renderer-FileRenderer .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-link > div, .cms .pinion-backend-renderer-FileRenderer .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-link > div {
  float:left;
  margin-right:3px;
  cursor:pointer;
}
#pinion-backend .pinion-backend-renderer-FileRenderer .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-link > .pinion-backend-icon-link, .cms .pinion-backend-renderer-FileRenderer .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-link > .pinion-backend-icon-link {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-760px 0;
  width:12px;
  height:12px;
}
#pinion-backend .pinion-backend-renderer-FileRenderer .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-link > .pinion-text, .cms .pinion-backend-renderer-FileRenderer .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-link > .pinion-text { color:#107886; }
#pinion-backend .pinion-backend-renderer-FileRenderer .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-link:hover > .pinion-text, .cms .pinion-backend-renderer-FileRenderer .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-link:hover > .pinion-text { color:#185859; }
#pinion-backend .pinion-backend-renderer-FileRenderer > .pinion-renderer-bar, .cms .pinion-backend-renderer-FileRenderer > .pinion-renderer-bar { top:9px; }
#pinion-backend .pinion-backend-renderer-FileRenderer.dirty .pinion-backend-icon-dirty, .cms .pinion-backend-renderer-FileRenderer.dirty .pinion-backend-icon-dirty {
  position:absolute;
  top:5px;
  right:5px;
}
#pinion-backend .pinion-backend-renderer-FileRenderer.ui-selected .pinion-textWrapper .pinion-backend-input-UpdateTextbox .pinion-textContainer .pinion-text, .cms .pinion-backend-renderer-FileRenderer.ui-selected .pinion-textWrapper .pinion-backend-input-UpdateTextbox .pinion-textContainer .pinion-text { color:#edf2f2; }
#pinion-backend .pinion-backend-renderer-FileRenderer.ui-selected .pinion-textWrapper > .pinion-filename, .cms .pinion-backend-renderer-FileRenderer.ui-selected .pinion-textWrapper > .pinion-filename { color:#edf2f2; }
#pinion-backend .pinion-backend-renderer-FileRenderer.ui-selected .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-download > .pinion-backend-icon-download, .cms .pinion-backend-renderer-FileRenderer.ui-selected .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-download > .pinion-backend-icon-download {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-780px -40px;
  width:12px;
  height:12px;
}
#pinion-backend .pinion-backend-renderer-FileRenderer.ui-selected .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-download > .pinion-text, .cms .pinion-backend-renderer-FileRenderer.ui-selected .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-download > .pinion-text { color:#edf2f2; }
#pinion-backend .pinion-backend-renderer-FileRenderer.ui-selected .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-download:hover > .pinion-text, .cms .pinion-backend-renderer-FileRenderer.ui-selected .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-download:hover > .pinion-text { color:#ffffff; }
#pinion-backend .pinion-backend-renderer-FileRenderer.ui-selected .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-link, .cms .pinion-backend-renderer-FileRenderer.ui-selected .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-link { cursor:pointer; }
#pinion-backend .pinion-backend-renderer-FileRenderer.ui-selected .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-link > div, .cms .pinion-backend-renderer-FileRenderer.ui-selected .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-link > div {
  float:left;
  margin-right:3px;
  cursor:pointer;
}
#pinion-backend .pinion-backend-renderer-FileRenderer.ui-selected .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-link > .pinion-backend-icon-link, .cms .pinion-backend-renderer-FileRenderer.ui-selected .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-link > .pinion-backend-icon-link {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-760px -40px;
  width:12px;
  height:12px;
}
#pinion-backend .pinion-backend-renderer-FileRenderer.ui-selected .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-link > .pinion-text, .cms .pinion-backend-renderer-FileRenderer.ui-selected .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-link > .pinion-text { color:#edf2f2; }
#pinion-backend .pinion-backend-renderer-FileRenderer.ui-selected .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-link:hover > .pinion-text, .cms .pinion-backend-renderer-FileRenderer.ui-selected .pinion-textWrapper .pinion-backend-file-info .pinion-backend-file-link:hover > .pinion-text { color:#ffffff; }
