#pinion-backend .pinion-backend-renderer-ModuleRenderer {
  color:#1a292b;
  min-height:80px;
  min-width:300px;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer a {
  color:#1a292b;
  text-decoration:none;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-colorfield-left, #pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-colorfield-right {
  background:#8c9b9b;
  height:100%;
  width:15px;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-colorfield-left {
  position:absolute;
  top:0;
  left:0;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-colorfield-right {
  position:absolute;
  top:0;
  right:0;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-moduleIcon {
  position:absolute;
  left:25px;
  top:12px;
  height:50px;
  width:50px;
  background-position:0 -50px;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-textWrapper {
  padding:12px 140px 12px 85px;
  clear:both;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-textWrapper:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-textWrapper .pinion-headlineWrapper { margin-bottom:3px; }
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-textWrapper .pinion-headlineWrapper:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-textWrapper .pinion-headlineWrapper a.pinion-moduleTitle {
  font-size:16px;
  font-weight:900;
  float:left;
  margin-right:5px;
  line-height:16px;
  padding-bottom:3px;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-textWrapper .pinion-headlineWrapper .pinion-moduleVersion {
  font-size:12px;
  float:left;
  margin-right:10px;
  margin-top:2px;
  line-height:14px;
  height:14px;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-textWrapper .pinion-headlineWrapper .pinion-moduleVersion > span.pinion-newVersion {
  color:#edc147;
  font-size:10px;
  font-weight:900;
  font-style:italic;
  padding-left:5px;
  line-height:14px;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-textWrapper .pinion-headlineWrapper a.pinion-moduleName {
  font-size:12px;
  font-style:italic;
  float:left;
  margin-top:2px;
  line-height:14px;
  height:14px;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-textWrapper .pinion-category {
  font-size:11px;
  margin-bottom:5px;
  margin-right:15px;
  float:left;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-textWrapper .pinion-category div.pinion-backend-icon-category {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-700px 0;
  width:12px;
  height:12px;
  margin-right:3px;
  float:left;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-textWrapper .pinion-category.pinion-noCategory { font-style:italic; }
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-textWrapper .pinion-module-author { margin-bottom:5px; }
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-textWrapper .pinion-module-author div.pinion-backend-icon-author {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-740px -120px;
  width:12px;
  height:12px;
  margin-right:3px;
  float:left;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-textWrapper .pinion-module-author > .pinion-text {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:11px;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-textWrapper .pinion-dependencies {
  width:100%;
  clear:both;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-textWrapper .pinion-dependencies:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-textWrapper .pinion-dependencies span {
  font-size:11px;
  float:left;
  margin-right:5px;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-textWrapper .pinion-dependencies span.pinion-noDeps { font-style:italic; }
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-textWrapper .pinion-dependencies ul { float:left; }
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-textWrapper .pinion-dependencies ul:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-textWrapper .pinion-dependencies ul li {
  float:left;
  clear:none;
  list-style:none;
  padding:0 5px 0 0;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-textWrapper .pinion-dependencies ul li a {
  color:#8c9b9b;
  font-size:11px;
  cursor:pointer;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-textWrapper .pinion-dependencies ul li.unavailable a { text-decoration:underline; }
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-textWrapper .pinion-dependencies ul li.enabled a { color:#e1604b; }
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-textWrapper .pinion-dependencies ul li.enabled.usable a { color:#88a852; }
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-textWrapper .pinion-moduleDescription {
  font-size:10px;
  margin-top:10px;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-textWrapper .pinion-noDescription {
  font-size:10px;
  font-style:italic;
  margin-top:10px;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-coreSign {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-880px -120px;
  width:20px;
  height:20px;
  position:absolute;
  top:12px;
  right:22px;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-renderer-bar .pinion-moduleOption {
  position:relative;
  cursor:pointer;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-renderer-bar .pinion-moduleOption .pinion-text {
  display:none;
  position:absolute;
  right:23px;
  top:3px;
  font-weight:900;
  white-space:nowrap;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-renderer-bar .pinion-moduleOption .pinion-icon {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-640px -120px;
  width:20px;
  height:20px;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-renderer-bar .pinion-moduleOption:hover .pinion-text {
  display:block;
  color:#88a852;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer .pinion-renderer-bar .pinion-moduleOption:hover .pinion-icon {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-640px -100px;
  width:20px;
  height:20px;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer.dirty .pinion-backend-icon-dirty {
  position:absolute;
  top:5px;
  right:3px;
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-580px -60px;
  width:8px;
  height:8px;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer.enabled .pinion-colorfield-left, #pinion-backend .pinion-backend-renderer-ModuleRenderer.enabled .pinion-colorfield-right { background:#e1604b; }
#pinion-backend .pinion-backend-renderer-ModuleRenderer.enabled .pinion-renderer-bar .pinion-moduleOption .pinion-icon {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-620px -120px;
  width:20px;
  height:20px;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer.enabled .pinion-renderer-bar .pinion-moduleOption:hover .pinion-text { color:#e1604b; }
#pinion-backend .pinion-backend-renderer-ModuleRenderer.enabled .pinion-renderer-bar .pinion-moduleOption:hover .pinion-icon {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-620px -80px;
  width:20px;
  height:20px;
}
#pinion-backend .pinion-backend-renderer-ModuleRenderer.enabled .pinion-moduleDelete { display:none; }
#pinion-backend .pinion-backend-renderer-ModuleRenderer.enabled.usable .pinion-colorfield-left, #pinion-backend .pinion-backend-renderer-ModuleRenderer.enabled.usable .pinion-colorfield-right { background:#88a852; }
