#pinion-backend .pinion-backend-renderer-DateFormatRenderer {
  color:#1a292b;
  min-height:45px;
  min-width:300px;
  background:#cccccc;
}
#pinion-backend .pinion-backend-renderer-DateFormatRenderer:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
#pinion-backend .pinion-backend-renderer-DateFormatRenderer .pinion-flag {
  position:absolute;
  top:10px;
  left:18px;
}
#pinion-backend .pinion-backend-renderer-DateFormatRenderer .pinion-title {
  float:left;
  display:inline;
  margin-top:10px;
  width:150px;
  margin-left:45px;
  line-height:22px;
  font-weight:900;
}
#pinion-backend .pinion-backend-renderer-DateFormatRenderer > .pinion-backend-input-Textbox {
  margin-left:20px;
  clear:both;
}
#pinion-backend .pinion-backend-renderer-DateFormatRenderer.dirty .pinion-backend-icon-dirty {
  position:absolute;
  top:5px;
  right:5px;
}
