.textfield.quote {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:12px;
  font-style:italic;
  line-height:22px;
  color:#6b888b;
  padding-bottom:20px;
  padding-left:25px;
}
.textfield.quote p { padding-bottom:10px; }
