a.pinion-module-info-link > .pinion-link-icon {
  float:left;
  height:20px;
  width:20px;
  background:#107886;
}
a.pinion-module-info-link > .pinion-link-title {
  float:left;
  height:20px;
  padding-left:5px;
  font-family:'Asap', sans-serif;
  font-style:italic;
  font-weight:900;
  font-size:14px;
  line-height:20px;
  color:#107886;
}
a.pinion-module-info-link:hover > .pinion-link-icon { background:#185859; }
a.pinion-module-info-link:hover > .pinion-link-title { color:#185859; }
