h1.pinion-headline {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  clear:both;
  padding-bottom:5px;
  color:#185859;
  font-size:16px;
  line-height:21px;
  font-weight:100;
}
h2.pinion-headline {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  clear:both;
  padding-bottom:5px;
  color:#185859;
  font-size:15px;
  line-height:20px;
  font-weight:100;
}
h3.pinion-headline {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  clear:both;
  padding-bottom:5px;
  color:#394448;
  font-size:14px;
  font-weight:100;
}
h4.pinion-headline {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  clear:both;
  padding-bottom:5px;
  color:#394448;
  font-size:13px;
  font-weight:100;
}
h5.pinion-headline {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  clear:both;
  padding-bottom:5px;
  color:#394448;
  font-size:12px;
  font-weight:100;
}
h6.pinion-headline {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  clear:both;
  padding-bottom:5px;
  color:#394448;
  font-size:11px;
  font-weight:100;
}
