#pinion-backend .pinion-backend-renderer-SystemMessageRenderer {
  color:#1a292b;
  min-width:500px;
}
#pinion-backend .pinion-backend-renderer-SystemMessageRenderer a {
  color:#1a292b;
  text-decoration:none;
}
#pinion-backend .pinion-backend-renderer-SystemMessageRenderer .pinion-colorfield-left, #pinion-backend .pinion-backend-renderer-SystemMessageRenderer .pinion-colorfield-right {
  height:100%;
  width:15px;
}
#pinion-backend .pinion-backend-renderer-SystemMessageRenderer .pinion-colorfield-left {
  position:absolute;
  top:0;
  left:0;
}
#pinion-backend .pinion-backend-renderer-SystemMessageRenderer .pinion-colorfield-right {
  position:absolute;
  top:0;
  right:0;
}
#pinion-backend .pinion-backend-renderer-SystemMessageRenderer .pinion-moduleIcon {
  position:absolute;
  left:25px;
  top:8px;
  height:25px;
  width:25px;
  overflow:hidden;
}
#pinion-backend .pinion-backend-renderer-SystemMessageRenderer .pinion-moduleIcon > img {
  width:25px;
  margin-top:-25px;
}
#pinion-backend .pinion-backend-renderer-SystemMessageRenderer .pinion-textWrapper { padding:12px 20px 12px 60px; }
#pinion-backend .pinion-backend-renderer-SystemMessageRenderer .pinion-textWrapper .pinion-systemMessage { font-size:12px; }
#pinion-backend .pinion-backend-renderer-SystemMessageRenderer.dirty .pinion-backend-icon-dirty {
  position:absolute;
  top:5px;
  right:3px;
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-580px -60px;
  width:8px;
  height:8px;
}
#pinion-backend .pinion-backend-renderer-SystemMessageRenderer.pinion-error .pinion-colorfield-left, #pinion-backend .pinion-backend-renderer-SystemMessageRenderer.pinion-error .pinion-colorfield-right { background:#e1604b; }
#pinion-backend .pinion-backend-renderer-SystemMessageRenderer.pinion-warning .pinion-colorfield-left, #pinion-backend .pinion-backend-renderer-SystemMessageRenderer.pinion-warning .pinion-colorfield-right { background:#edc147; }
#pinion-backend .pinion-backend-renderer-SystemMessageRenderer.pinion-success .pinion-colorfield-left, #pinion-backend .pinion-backend-renderer-SystemMessageRenderer.pinion-success .pinion-colorfield-right { background:#88a852; }
