#pinion-backend .pinion-backend-renderer-UserMessageRenderer {
  color:#1a292b;
  min-height:60px;
  min-width:300px;
}
#pinion-backend .pinion-backend-renderer-UserMessageRenderer:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
#pinion-backend .pinion-backend-renderer-UserMessageRenderer .pinion-message-info {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:13px;
  font-size:12px;
  margin:0px 100px 0px 20px;
  padding-top:10px;
  cursor:pointer;
}
#pinion-backend .pinion-backend-renderer-UserMessageRenderer .pinion-message-info:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
#pinion-backend .pinion-backend-renderer-UserMessageRenderer .pinion-message-info .pinion-user {
  float:left;
  padding-right:15px;
}
#pinion-backend .pinion-backend-renderer-UserMessageRenderer .pinion-message-info .pinion-user .pinion-backend-icon-user {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-740px 0;
  width:12px;
  height:12px;
  display:block;
  float:left;
  margin-right:5px;
}
#pinion-backend .pinion-backend-renderer-UserMessageRenderer .pinion-message-info .pinion-user .pinion-username {
  font-weight:900;
  cursor:pointer;
  float:left;
}
#pinion-backend .pinion-backend-renderer-UserMessageRenderer .pinion-message-info .pinion-time {
  cursor:pointer;
  float:left;
}
#pinion-backend .pinion-backend-renderer-UserMessageRenderer .pinion-message-info .pinion-time .pinion-backend-icon-clock {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-800px -120px;
  width:12px;
  height:12px;
  display:block;
  float:left;
  margin-right:5px;
  margin-top:1px;
}
#pinion-backend .pinion-backend-renderer-UserMessageRenderer .pinion-message-info .pinion-time .pinion-time-text {
  color:#8c9b9b;
  font-size:10px;
  cursor:pointer;
  float:left;
  padding-top:1px;
}
#pinion-backend .pinion-backend-renderer-UserMessageRenderer .pinion-message-info .pinion-subject {
  clear:both;
  padding-top:10px;
}
#pinion-backend .pinion-backend-renderer-UserMessageRenderer .pinion-message-info .pinion-subject .pinion-backend-icon-subject {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-900px 0;
  width:12px;
  height:12px;
  display:block;
  float:left;
  margin-right:5px;
  margin-top:1px;
}
#pinion-backend .pinion-backend-renderer-UserMessageRenderer .pinion-message-info .pinion-subject .pinion-subject-title {
  cursor:pointer;
  float:left;
}
#pinion-backend .pinion-backend-renderer-UserMessageRenderer .pinion-messageWrapper {
  margin:10px 100px 10px 20px;
  border:1px solid #8c9b9b;
  -webkit-border-radius:3px;
  -khtml-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
#pinion-backend .pinion-backend-renderer-UserMessageRenderer .pinion-messageWrapper .pinion-message-text { padding:10px; }
#pinion-backend .pinion-backend-renderer-UserMessageRenderer .pinion-renderer-bar .pinion-messageSign {
  cursor:pointer;
  position:relative;
}
#pinion-backend .pinion-backend-renderer-UserMessageRenderer .pinion-renderer-bar .pinion-messageSign .pinion-backend-icon-message-grey {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-680px -120px;
  width:20px;
  height:20px;
  cursor:pointer;
}
#pinion-backend .pinion-backend-renderer-UserMessageRenderer .pinion-renderer-bar .pinion-messageSign .pinion-text {
  display:none;
  position:absolute;
  right:23px;
  top:3px;
  font-weight:900;
  white-space:nowrap;
}
#pinion-backend .pinion-backend-renderer-UserMessageRenderer .pinion-renderer-bar .pinion-messageSign:hover .pinion-backend-icon-message-grey {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-680px -20px;
  width:20px;
  height:20px;
}
#pinion-backend .pinion-backend-renderer-UserMessageRenderer .pinion-renderer-bar .pinion-messageSign:hover .pinion-text {
  display:block;
  color:#185859;
}
#pinion-backend .pinion-backend-renderer-UserMessageRenderer.pinion-newMessage {
  background:#185859 !important;
  color:#edf2f2;
}
#pinion-backend .pinion-backend-renderer-UserMessageRenderer.pinion-newMessage .pinion-message-info { color:#edf2f2; }
#pinion-backend .pinion-backend-renderer-UserMessageRenderer.pinion-newMessage .pinion-message-info .pinion-user .pinion-backend-icon-user {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-740px -40px;
  width:12px;
  height:12px;
}
#pinion-backend .pinion-backend-renderer-UserMessageRenderer.pinion-newMessage .pinion-message-info .pinion-user .pinion-username { color:#edf2f2; }
#pinion-backend .pinion-backend-renderer-UserMessageRenderer.pinion-newMessage .pinion-message-info .pinion-subject .pinion-backend-icon-subject {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-900px -40px;
  width:12px;
  height:12px;
}
#pinion-backend .pinion-backend-renderer-UserMessageRenderer.pinion-newMessage .pinion-message-info .pinion-subject .pinion-subject-title { color:#edf2f2; }
#pinion-backend .pinion-backend-renderer-UserMessageRenderer.pinion-newMessage .pinion-renderer-bar .pinion-messageSign:hover .pinion-backend-icon-message-grey {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-680px -40px;
  width:20px;
  height:20px;
}
#pinion-backend .pinion-backend-renderer-UserMessageRenderer.pinion-newMessage .pinion-renderer-bar .pinion-messageSign:hover .pinion-text { color:#edf2f2; }
#pinion-backend .pinion-backend-renderer-UserMessageRenderer.dirty .pinion-backend-icon-dirty {
  position:absolute;
  top:5px;
  right:5px;
}
