.language-switcher .language-flags { width:100%; }
.language-switcher .language-flags:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
.language-switcher .language-flags li {
  float:right;
  margin-left:5px;
}
.language-switcher .language-flags li a {
  display:block;
  width:20px;
  height:20px;
}
