#pinion-FrontendBox .pinion-modules-container-Preview { cursor:pointer; }
#pinion-FrontendBox .pinion-modules-container-Preview * { cursor:pointer; }
.cms .pinion-modules-container-Preview, #pinion-backend .pinion-modules-container-Preview, #pinion-FrontendBox .pinion-modules-container-Preview {
  position:relative;
  overflow:hidden;
  width:100%;
  height:100%;
  clear:both;
}
.cms .pinion-modules-container-Preview:after, #pinion-backend .pinion-modules-container-Preview:after, #pinion-FrontendBox .pinion-modules-container-Preview:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
.cms .pinion-modules-container-Preview > .pinion-structure-info, #pinion-backend .pinion-modules-container-Preview > .pinion-structure-info, #pinion-FrontendBox .pinion-modules-container-Preview > .pinion-structure-info {
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  width:100%;
  height:65px;
  background:#1a292b;
  -moz-box-shadow:0 0 5px #1a292b;
  -webkit-box-shadow:0 0 5px #1a292b;
  box-shadow:0 0 5px #1a292b;
  border-bottom:1px solid #8c9b9b;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter:alpha(opacity=0);
}
.cms .pinion-modules-container-Preview > .pinion-structure-info > .pinion-structure-name, #pinion-backend .pinion-modules-container-Preview > .pinion-structure-info > .pinion-structure-name, #pinion-FrontendBox .pinion-modules-container-Preview > .pinion-structure-info > .pinion-structure-name {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:10px;
  height:15px;
  color:#edf2f2;
  text-align:center;
}
.cms .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move, #pinion-backend .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move, #pinion-FrontendBox .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move {
  width:10000px;
  height:46px;
  position:absolute;
  top:15px;
  left:0;
  overflow:hidden;
}
.cms .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move > ul.pinion-container-structure, #pinion-backend .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move > ul.pinion-container-structure, #pinion-FrontendBox .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move > ul.pinion-container-structure {
  position:absolute;
  left:0;
  top:0;
  height:46px;
  display:block;
}
.cms .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move > ul.pinion-container-structure:after, #pinion-backend .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move > ul.pinion-container-structure:after, #pinion-FrontendBox .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move > ul.pinion-container-structure:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
.cms .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move > ul.pinion-container-structure > li.pinion-structure-element, #pinion-backend .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move > ul.pinion-container-structure > li.pinion-structure-element, #pinion-FrontendBox .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move > ul.pinion-container-structure > li.pinion-structure-element {
  float:left;
  display:block;
  width:auto;
  height:40px;
  position:relative;
  padding:2px 4px;
  -webkit-border-radius:3px;
  -khtml-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
.cms .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move > ul.pinion-container-structure > li.pinion-structure-element > .pinion-module-icon, #pinion-backend .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move > ul.pinion-container-structure > li.pinion-structure-element > .pinion-module-icon, #pinion-FrontendBox .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move > ul.pinion-container-structure > li.pinion-structure-element > .pinion-module-icon {
  display:block;
  width:25px;
  height:25px;
  overflow:hidden;
  margin:0 auto;
}
.cms .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move > ul.pinion-container-structure > li.pinion-structure-element > .pinion-module-icon > img, #pinion-backend .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move > ul.pinion-container-structure > li.pinion-structure-element > .pinion-module-icon > img, #pinion-FrontendBox .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move > ul.pinion-container-structure > li.pinion-structure-element > .pinion-module-icon > img { width:25px; }
.cms .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move > ul.pinion-container-structure > li.pinion-structure-element > .pinion-module-name, #pinion-backend .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move > ul.pinion-container-structure > li.pinion-structure-element > .pinion-module-name, #pinion-FrontendBox .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move > ul.pinion-container-structure > li.pinion-structure-element > .pinion-module-name {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:13px;
  font-size:9px;
  color:#edf2f2;
  line-height:15px;
  height:15px;
  text-align:center;
}
.cms .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move > ul.pinion-container-structure > li.pinion-structure-element.pinion-active, #pinion-backend .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move > ul.pinion-container-structure > li.pinion-structure-element.pinion-active, #pinion-FrontendBox .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move > ul.pinion-container-structure > li.pinion-structure-element.pinion-active { background:#edf2f2; }
.cms .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move > ul.pinion-container-structure > li.pinion-structure-element.pinion-active > .pinion-module-icon > img, #pinion-backend .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move > ul.pinion-container-structure > li.pinion-structure-element.pinion-active > .pinion-module-icon > img, #pinion-FrontendBox .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move > ul.pinion-container-structure > li.pinion-structure-element.pinion-active > .pinion-module-icon > img { margin-top:-25px; }
.cms .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move > ul.pinion-container-structure > li.pinion-structure-element.pinion-active > .pinion-module-name, #pinion-backend .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move > ul.pinion-container-structure > li.pinion-structure-element.pinion-active > .pinion-module-name, #pinion-FrontendBox .pinion-modules-container-Preview > .pinion-structure-info > .pinion-horizontal-move > ul.pinion-container-structure > li.pinion-structure-element.pinion-active > .pinion-module-name { color:#1a292b; }
.cms .pinion-modules-container-Preview > .pinion-structure-info:hover, #pinion-backend .pinion-modules-container-Preview > .pinion-structure-info:hover, #pinion-FrontendBox .pinion-modules-container-Preview > .pinion-structure-info:hover {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter:alpha(opacity=100);
}
.cms .pinion-modules-container-Preview > .pinion-element-preview, #pinion-backend .pinion-modules-container-Preview > .pinion-element-preview, #pinion-FrontendBox .pinion-modules-container-Preview > .pinion-element-preview {
  display:none;
  z-index:0;
  width:100%;
  height:100%;
}
.cms .pinion-modules-container-Preview > .pinion-element-preview.pinion-active, #pinion-backend .pinion-modules-container-Preview > .pinion-element-preview.pinion-active, #pinion-FrontendBox .pinion-modules-container-Preview > .pinion-element-preview.pinion-active { display:block; }
.cms .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview, #pinion-backend .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview, #pinion-FrontendBox .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview {
  position:relative;
  overflow:hidden;
  width:100%;
  height:100%;
  clear:both;
}
.cms .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview:after, #pinion-backend .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview:after, #pinion-FrontendBox .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
.cms .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview > .pinion-preview-info, #pinion-backend .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview > .pinion-preview-info, #pinion-FrontendBox .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview > .pinion-preview-info {
  height:20px;
  border-bottom:1px solid #8c9b9b;
  padding-bottom:5px;
}
.cms .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview > .pinion-preview-info > .pinion-structure-name, #pinion-backend .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview > .pinion-preview-info > .pinion-structure-name, #pinion-FrontendBox .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview > .pinion-preview-info > .pinion-structure-name {
  height:20px;
  width:100%;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:11px;
  line-height:20px;
  height:20px;
  color:#edf2f2;
}
.cms .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview > ul.pinion-container-structure, #pinion-backend .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview > ul.pinion-container-structure, #pinion-FrontendBox .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview > ul.pinion-container-structure {
  position:absolute;
  left:0;
  top:40px;
  display:block;
}
.cms .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview > ul.pinion-container-structure:after, #pinion-backend .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview > ul.pinion-container-structure:after, #pinion-FrontendBox .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview > ul.pinion-container-structure:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
.cms .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview > ul.pinion-container-structure > li.pinion-structure-element, #pinion-backend .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview > ul.pinion-container-structure > li.pinion-structure-element, #pinion-FrontendBox .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview > ul.pinion-container-structure > li.pinion-structure-element {
  float:left;
  display:block;
  width:auto;
  height:40px;
  width:52px;
  padding:1px;
  position:relative;
  overflow:hidden;
  -webkit-border-radius:3px;
  -khtml-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  background:#185859;
  margin-right:5px;
  margin-bottom:5px;
}
.cms .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview > ul.pinion-container-structure > li.pinion-structure-element > .pinion-module-icon, #pinion-backend .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview > ul.pinion-container-structure > li.pinion-structure-element > .pinion-module-icon, #pinion-FrontendBox .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview > ul.pinion-container-structure > li.pinion-structure-element > .pinion-module-icon {
  display:block;
  width:25px;
  height:25px;
  overflow:hidden;
  margin:0 auto;
}
.cms .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview > ul.pinion-container-structure > li.pinion-structure-element > .pinion-module-icon > img, #pinion-backend .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview > ul.pinion-container-structure > li.pinion-structure-element > .pinion-module-icon > img, #pinion-FrontendBox .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview > ul.pinion-container-structure > li.pinion-structure-element > .pinion-module-icon > img { width:25px; }
.cms .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview > ul.pinion-container-structure > li.pinion-structure-element > .pinion-module-name, #pinion-backend .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview > ul.pinion-container-structure > li.pinion-structure-element > .pinion-module-name, #pinion-FrontendBox .pinion-modules-container-Preview > .pinion-element-preview > .pinion-container-overview > ul.pinion-container-structure > li.pinion-structure-element > .pinion-module-name {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:13px;
  font-size:9px;
  color:#edf2f2;
  line-height:15px;
  height:15px;
  text-align:center;
  white-space:nowrap;
}
