

/*

#pinion-backend-bar #pinion-backend-menu .pinion-backend-menu-list .windowContainer ul li a {
    width: 245px !important;
}

#pinion-backend-bar #pinion-backend-menu .pinion-backend-menu-list .windowContainer ul li a .text {
    position: absolute;
    white-space: nowrap;
}

#pinion-backend-bar #pinion-backend-menu .pinion-backend-menu-list .windowContainer ul li a .textWrapper {
    position: absolute;
    width: 190px;
    display: block;
    height: 35px;
}
*/








