a.pinion-module-info-downloader > .pinion-download-icon {
  float:left;
  height:20px;
  width:20px;
  background: url("../images/download.png") 0 0;
}
a.pinion-module-info-downloader > .pinion-download-title {
  float:left;
  height:20px;
  padding-left:5px;
  font-family:'Asap', sans-serif;
  font-style:italic;
  font-weight:900;
  font-size:14px;
  line-height:20px;
  color:#107886;
}
a.pinion-module-info-downloader:hover > .pinion-download-icon { 
    background-position: 0 20px; 
}
a.pinion-module-info-downloader:hover > .pinion-download-title { color:#185859; }
