#pinion-backend .pinion-backend-renderer-ImageRenderer {
  color:#1a292b;
  min-height:95px;
  min-width:725px;
}
#pinion-backend .pinion-backend-renderer-ImageRenderer:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
#pinion-backend .pinion-backend-renderer-ImageRenderer a {
  color:#1a292b;
  text-decoration:none;
}
#pinion-backend .pinion-backend-renderer-ImageRenderer .pinion-image {
  position:absolute;
  left:5px;
  top:10px;
  width:250px;
  height:75px;
}
#pinion-backend .pinion-backend-renderer-ImageRenderer .pinion-image > img {
  display:block;
  margin:0 auto;
}
#pinion-backend .pinion-backend-renderer-ImageRenderer .pinion-textWrapper {
  float:left;
  margin:10px 100px 10px 260px;
  font-size:12px;
}
#pinion-backend .pinion-backend-renderer-ImageRenderer .pinion-textWrapper .pinion-backend-input-UpdateTextbox { padding:0; }
#pinion-backend .pinion-backend-renderer-ImageRenderer .pinion-textWrapper .pinion-backend-input-UpdateTextbox .pinion-textContainer .pinion-text {
  font-weight:900;
  font-style:italic;
}
#pinion-backend .pinion-backend-renderer-ImageRenderer .pinion-textWrapper .pinion-image-title, #pinion-backend .pinion-backend-renderer-ImageRenderer .pinion-textWrapper .pinion-image-alt, #pinion-backend .pinion-backend-renderer-ImageRenderer .pinion-textWrapper .pinion-image-filename {
  position:relative;
  height:25px;
}
#pinion-backend .pinion-backend-renderer-ImageRenderer .pinion-textWrapper .pinion-image-title .pinion-label, #pinion-backend .pinion-backend-renderer-ImageRenderer .pinion-textWrapper .pinion-image-alt .pinion-label, #pinion-backend .pinion-backend-renderer-ImageRenderer .pinion-textWrapper .pinion-image-filename .pinion-label {
  position:absolute;
  lefT:0;
  top:0;
  width:120px;
  font-style:italic;
  font-size:12px;
  padding-top:4px;
}
#pinion-backend .pinion-backend-renderer-ImageRenderer .pinion-textWrapper .pinion-image-title .pinion-text, #pinion-backend .pinion-backend-renderer-ImageRenderer .pinion-textWrapper .pinion-image-alt .pinion-text, #pinion-backend .pinion-backend-renderer-ImageRenderer .pinion-textWrapper .pinion-image-filename .pinion-text {
  position:absolute;
  top:0;
  left:125px;
  padding-top:4px;
  width:239px;
  font-weight:900;
}
#pinion-backend .pinion-backend-renderer-ImageRenderer.dirty .pinion-backend-icon-dirty {
  position:absolute;
  top:5px;
  right:5px;
}
