#pinion-backend .pinion-backend-image-ImageGrid, .cms .pinion-backend-image-ImageGrid {
  width:auto;
  position:relative;
}
#pinion-backend .pinion-backend-image-ImageGrid:after, .cms .pinion-backend-image-ImageGrid:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
#pinion-backend .pinion-backend-image-ImageGrid .pinion-slider, .cms .pinion-backend-image-ImageGrid .pinion-slider {
  width:100% !important;
  margin-bottom:10px;
  clear:both;
}
#pinion-backend .pinion-backend-image-ImageGrid ul.grid li, .cms .pinion-backend-image-ImageGrid ul.grid li {
  list-style:none outside;
  display:inline-block;
  font-size:30px;
  text-align:center;
  padding:0.2em;
  margin:0 0.2em 0.2em 0;
  background:#dce1e1;
  border:1px solid #185859;
  -moz-box-shadow:0 0 2px #1a292b;
  -webkit-box-shadow:0 0 2px #1a292b;
  box-shadow:0 0 2px #1a292b;
}
#pinion-backend .pinion-backend-image-ImageGrid ul.grid li.ui-selected, .cms .pinion-backend-image-ImageGrid ul.grid li.ui-selected { background:#88a852; }
#pinion-backend .pinion-backend-image-ImageGrid .pinion-backend-input-Button, .cms .pinion-backend-image-ImageGrid .pinion-backend-input-Button { float:left; }
#pinion-backend .pinion-backend-image-ImageGrid .info, .cms .pinion-backend-image-ImageGrid .info {
  float:left;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:13px;
  font-size:12px;
  line-height:25px;
  font-style:italic;
}
#pinion-backend .pinion-backend-image-ImageGrid .pinion-backend-icon-dirty, .cms .pinion-backend-image-ImageGrid .pinion-backend-icon-dirty { display:none; }
#pinion-backend .pinion-backend-image-ImageGrid.dirty .pinion-backend-icon-dirty, .cms .pinion-backend-image-ImageGrid.dirty .pinion-backend-icon-dirty {
  display:block;
  position:absolute;
  top:0px;
  right:3px;
}
