#pinion-backend ul.pinion-backend-image-ImageList, .cms ul.pinion-backend-image-ImageList {
  position:relative;
  clear:both;
  height:120px;
  overflow:auto;
  overflow-y:scroll;
  padding:2px 10px 2px 2px;
  background:rgba(24,88,89,0.1);
}
#pinion-backend ul.pinion-backend-image-ImageList:after, .cms ul.pinion-backend-image-ImageList:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
#pinion-backend ul.pinion-backend-image-ImageList li, .cms ul.pinion-backend-image-ImageList li {
  position:relative;
  float:left;
  padding:2px;
  padding:0.2em;
  margin:0 0.2em 0.2em 0;
  background:#dce1e1;
  border:1px solid #185859;
  -moz-box-shadow:0 0 2px #1a292b;
  -webkit-box-shadow:0 0 2px #1a292b;
  box-shadow:0 0 2px #1a292b;
}
#pinion-backend ul.pinion-backend-image-ImageList li .pinion-delete, .cms ul.pinion-backend-image-ImageList li .pinion-delete {
  display:none;
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-200px 0;
  width:20px;
  height:20px;
  background-color:rgba(255,255,255,0.8);
  border:1px solid #1a292b;
  -webkit-border-radius:3px;
  -khtml-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  position:absolute;
  top:3px;
  left:3px;
}
#pinion-backend ul.pinion-backend-image-ImageList li .pinion-delete:hover, .cms ul.pinion-backend-image-ImageList li .pinion-delete:hover {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-220px 0;
  width:20px;
  height:20px;
}
#pinion-backend ul.pinion-backend-image-ImageList li:hover .pinion-delete, .cms ul.pinion-backend-image-ImageList li:hover .pinion-delete { display:block; }
#pinion-backend ul.pinion-backend-image-ImageList > .pinion-backend-icon-dirty, .cms ul.pinion-backend-image-ImageList > .pinion-backend-icon-dirty {
  position:absolute;
  top:5px;
  right:5px;
}
