#pinion-imagePreview {
  position:absolute;
  z-index:1020;
  background:#185859;
  color:#edf2f2;
  font-weight:900;
  font-style:italic;
  font-size:11px;
}
#pinion-imagePreview > img {
  border:7px solid #185859;
  -moz-box-shadow:0 0 7px #1a292b;
  -webkit-box-shadow:0 0 7px #1a292b;
  box-shadow:0 0 7px #1a292b;
  -webkit-border-radius:5px;
  -khtml-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}
