#pinion-backend .pinion-image-action-icon40px, #pinion-FrontendBox .pinion-image-action-icon40px {
  width:60px;
  height:40px;
  background:#ff0000;
  border:1px solid #1a292b;
}
#pinion-backend .pinion-image-action-icon, #pinion-FrontendBox .pinion-image-action-icon {
  width:30px;
  height:20px;
  background:#ff0000;
  border:1px solid #1a292b;
}
#pinion-backend .pinion-icon-resize-40px, #pinion-FrontendBox .pinion-icon-resize-40px {
  background:url('../images/pinion-preset-icons.png');
  background-position:0px 0px;
}
#pinion-backend .pinion-icon-resize, #pinion-FrontendBox .pinion-icon-resize {
  background:url('../images/pinion-preset-icons.png');
  background-position:-60px 0px;
}
#pinion-backend .pinion-icon-crop-40px, #pinion-FrontendBox .pinion-icon-crop-40px {
  background:url('../images/pinion-preset-icons.png');
  background-position:0px -40px;
}
#pinion-backend .pinion-icon-crop, #pinion-FrontendBox .pinion-icon-crop {
  background:url('../images/pinion-preset-icons.png');
  background-position:-60px -40px;
}
#pinion-backend .pinion-icon-asGrayscale-40px, #pinion-FrontendBox .pinion-icon-asGrayscale-40px {
  background:url('../images/pinion-preset-icons.png');
  background-position:0px -80px;
}
#pinion-backend .pinion-icon-asGrayscale, #pinion-FrontendBox .pinion-icon-asGrayscale {
  background:url('../images/pinion-preset-icons.png');
  background-position:-60px -80px;
}
#pinion-backend .pinion-icon-rotate-40px, #pinion-FrontendBox .pinion-icon-rotate-40px {
  background:url('../images/pinion-preset-icons.png');
  background-position:0px -120px;
}
#pinion-backend .pinion-icon-rotate, #pinion-FrontendBox .pinion-icon-rotate {
  background:url('../images/pinion-preset-icons.png');
  background-position:-60px -120px;
}
