#pinion-backend .pinion-backend-renderer-PresetRenderer {
  color:#1a292b;
  min-height:60px;
  min-width:300px;
}
#pinion-backend .pinion-backend-renderer-PresetRenderer:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
#pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-presetname {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:13px;
  font-size:12px;
  font-weight:900;
  margin:0px 100px 0px 20px;
  padding-top:10px;
}
#pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-presetname .pinion-backend-input-UpdateTextbox { padding:0; }
#pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-presetname .pinion-backend-input-UpdateTextbox .pinion-textContainer .pinion-text {
  font-weight:900;
  font-style:italic;
}
#pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-presetname > .pinion-preset-name {
  font-weight:900;
  padding-bottom:10px;
}
#pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-image-actions { margin:0px 0px 10px 20px; }
#pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-image-actions:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
#pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-image-actions .pinion-image-action {
  float:left;
  display:inline;
  width:auto;
  margin-right:35px;
  background:#edf2f2;
  border:3px solid #edf2f2;
}
#pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-image-actions .pinion-image-action .pinion-image-action-icon40px { margin:0 auto; }
#pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-image-actions .pinion-image-action .pinion-image-action-icon40px:after {
  content:"";
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-40px 0;
  width:20px;
  height:20px;
  display:block;
  float:left;
  margin-right:5px;
  margin-top:15px;
  margin-left:71px;
}
#pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-image-actions .pinion-image-action .pinion-image-action-text {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:13px;
  font-size:10px;
  text-align:center;
}
#pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-image-actions .pinion-image-action:last-child .pinion-image-action-icon40px:after {
  content:"";
  display:none;
}
#pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-image-actions .pinion-image-action.pinion-active {
  background:#185859;
  border:3px solid #185859;
}
#pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-image-actions .pinion-image-action.pinion-active .pinion-image-action-text { color:#edf2f2; }
#pinion-backend .pinion-backend-renderer-PresetRenderer > .pinion-backend-list-Selector {
  width:auto;
  margin-left:20px;
  float:left;
}
#pinion-backend .pinion-backend-renderer-PresetRenderer > .pinion-backend-icon-add {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-320px 0;
  width:20px;
  height:20px;
  float:left;
  margin:5px 0 0 5px;
  cursor:pointer;
}
#pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-image-editorWrapper {
  clear:both;
  margin-right:40px;
}
#pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-image-editorWrapper .pinion-image-action-edit {
  margin:0px 50px 10px 20px;
  border:1px solid #8c9b9b;
  -webkit-border-radius:3px;
  -khtml-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  padding-bottom:40px;
}
#pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-image-editorWrapper .pinion-image-action-edit .pinion-image-action-edit-title:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
#pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-image-editorWrapper .pinion-image-action-edit .pinion-image-action-edit-title .pinion-image-action-icon {
  float:left;
  margin:5px;
}
#pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-image-editorWrapper .pinion-image-action-edit .pinion-image-action-edit-title .pinion-image-action-text {
  float:left;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:13px;
  font-size:12px;
  font-weight:900;
  line-height:20px;
  margin-top:5px;
}
#pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-image-editorWrapper .pinion-image-action-edit input[type=submit] {
  height:25px;
  line-height:25px;
  padding:0 12px 0 12px;
  width:auto;
  cursor:pointer;
  background:#ffffff;
  -webkit-border-radius:5px;
  -khtml-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  border:1px solid #8c9b9b;
  color:#1a292b;
  font-weight:900;
  font-size:12px;
  margin-left:30px;
}
#pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-image-editorWrapper .pinion-image-action-edit .pinion-backend-input-Textbox, #pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-image-editorWrapper .pinion-image-action-edit .pinion-backend-input-Textarea, #pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-image-editorWrapper .pinion-image-action-edit .pinion-backend-input-UpdateTextbox, #pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-image-editorWrapper .pinion-image-action-edit .pinion-backend-list-Selector, #pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-image-editorWrapper .pinion-image-action-edit .pinion-backend-input-Checkbox, #pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-image-editorWrapper .pinion-image-action-edit .pinion-backend-input-Radiobutton, #pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-image-editorWrapper .pinion-image-action-edit .pinion-backend-input-Slider { margin-left:30px; }
#pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-image-editorWrapper .pinion-image-action-edit .pinion-presetFunctionDelete {
  height:25px;
  line-height:25px;
  margin-right:10px;
  float:left;
  -webkit-border-radius:5px;
  -khtml-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  border:1px solid #8c9b9b;
  cursor:pointer;
  background:#ffffff;
  float:right;
  margin:5px 30px 10px 30px;
}
#pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-image-editorWrapper .pinion-image-action-edit .pinion-presetFunctionDelete .pinion-icon {
  width:20px;
  height:20px;
  float:left;
  margin:2px 7px;
  cursor:pointer;
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-200px 0;
  width:20px;
  height:20px;
}
#pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-image-editorWrapper .pinion-image-action-edit .pinion-presetFunctionDelete .pinion-text {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  display:inline;
  font-size:12px;
  font-weight:900;
  color:#1a292b;
  text-align:left;
  margin-right:12px;
  cursor:pointer;
}
#pinion-backend .pinion-backend-renderer-PresetRenderer .pinion-image-editorWrapper .pinion-image-action-edit .pinion-presetFunctionDelete:hover .pinion-icon {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-220px 0;
  width:20px;
  height:20px;
}
#pinion-backend .pinion-backend-renderer-PresetRenderer.dirty .pinion-backend-icon-dirty {
  position:absolute;
  top:5px;
  right:5px;
}
