#pinion-FrontendBox .pinion-modules-video-Preview { cursor:pointer; }
#pinion-FrontendBox .pinion-modules-video-Preview * { cursor:pointer; }
.cms .pinion-modules-video-Preview, #pinion-backend .pinion-modules-video-Preview, #pinion-FrontendBox .pinion-modules-video-Preview {
  position:relative;
  overflow:hidden;
  width:100%;
  height:100%;
  text-align:center;
  clear:both;
}
.cms .pinion-modules-video-Preview:after, #pinion-backend .pinion-modules-video-Preview:after, #pinion-FrontendBox .pinion-modules-video-Preview:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
.cms .pinion-modules-video-Preview > .pinion-preview-info, #pinion-backend .pinion-modules-video-Preview > .pinion-preview-info, #pinion-FrontendBox .pinion-modules-video-Preview > .pinion-preview-info {
  height:20px;
  border-bottom:1px solid #8c9b9b;
  padding-bottom:5px;
  clear:both;
}
.cms .pinion-modules-video-Preview > .pinion-preview-info:after, #pinion-backend .pinion-modules-video-Preview > .pinion-preview-info:after, #pinion-FrontendBox .pinion-modules-video-Preview > .pinion-preview-info:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
.cms .pinion-modules-video-Preview > .pinion-preview-info > .pinion-width, .cms .pinion-modules-video-Preview > .pinion-preview-info > .pinion-height, #pinion-backend .pinion-modules-video-Preview > .pinion-preview-info > .pinion-width, #pinion-backend .pinion-modules-video-Preview > .pinion-preview-info > .pinion-height, #pinion-FrontendBox .pinion-modules-video-Preview > .pinion-preview-info > .pinion-width, #pinion-FrontendBox .pinion-modules-video-Preview > .pinion-preview-info > .pinion-height {
  height:20px;
  width:50%;
  float:left;
}
.cms .pinion-modules-video-Preview > .pinion-preview-info > .pinion-width > .pinion-icon, .cms .pinion-modules-video-Preview > .pinion-preview-info > .pinion-height > .pinion-icon, #pinion-backend .pinion-modules-video-Preview > .pinion-preview-info > .pinion-width > .pinion-icon, #pinion-backend .pinion-modules-video-Preview > .pinion-preview-info > .pinion-height > .pinion-icon, #pinion-FrontendBox .pinion-modules-video-Preview > .pinion-preview-info > .pinion-width > .pinion-icon, #pinion-FrontendBox .pinion-modules-video-Preview > .pinion-preview-info > .pinion-height > .pinion-icon {
  float:left;
  margin-right:5px;
}
.cms .pinion-modules-video-Preview > .pinion-preview-info > .pinion-width > .pinion-text, .cms .pinion-modules-video-Preview > .pinion-preview-info > .pinion-height > .pinion-text, #pinion-backend .pinion-modules-video-Preview > .pinion-preview-info > .pinion-width > .pinion-text, #pinion-backend .pinion-modules-video-Preview > .pinion-preview-info > .pinion-height > .pinion-text, #pinion-FrontendBox .pinion-modules-video-Preview > .pinion-preview-info > .pinion-width > .pinion-text, #pinion-FrontendBox .pinion-modules-video-Preview > .pinion-preview-info > .pinion-height > .pinion-text {
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:11px;
  line-height:20px;
  height:20px;
  color:#edf2f2;
  float:left;
}
.cms .pinion-modules-video-Preview > .pinion-preview-info > .pinion-width > .pinion-icon, #pinion-backend .pinion-modules-video-Preview > .pinion-preview-info > .pinion-width > .pinion-icon, #pinion-FrontendBox .pinion-modules-video-Preview > .pinion-preview-info > .pinion-width > .pinion-icon {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-1040px -40px;
  width:20px;
  height:20px;
}
.cms .pinion-modules-video-Preview > .pinion-preview-info > .pinion-height > .pinion-icon, #pinion-backend .pinion-modules-video-Preview > .pinion-preview-info > .pinion-height > .pinion-icon, #pinion-FrontendBox .pinion-modules-video-Preview > .pinion-preview-info > .pinion-height > .pinion-icon {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-1020px -40px;
  width:20px;
  height:20px;
}
.cms .pinion-modules-video-Preview > .pinion-video-file-count, #pinion-backend .pinion-modules-video-Preview > .pinion-video-file-count, #pinion-FrontendBox .pinion-modules-video-Preview > .pinion-video-file-count {
  position:absolute;
  top:35px;
  left:0;
}
.cms .pinion-modules-video-Preview > .pinion-video-file-count > .pinion-icon-file, #pinion-backend .pinion-modules-video-Preview > .pinion-video-file-count > .pinion-icon-file, #pinion-FrontendBox .pinion-modules-video-Preview > .pinion-video-file-count > .pinion-icon-file {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-1120px -40px;
  width:20px;
  height:20px;
  position:absolute;
  top:0;
  left:110px;
}
.cms .pinion-modules-video-Preview > .pinion-video-file-count > .pinion-file-count, #pinion-backend .pinion-modules-video-Preview > .pinion-video-file-count > .pinion-file-count, #pinion-FrontendBox .pinion-modules-video-Preview > .pinion-video-file-count > .pinion-file-count {
  position:absolute;
  top:0;
  left:110px;
  width:20px;
  height:20px;
  line-height:20px;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#edf2f2;
  text-align:center;
}
.cms .pinion-modules-video-Preview > .pinion-vertical-move, #pinion-backend .pinion-modules-video-Preview > .pinion-vertical-move, #pinion-FrontendBox .pinion-modules-video-Preview > .pinion-vertical-move {
  height:10000px;
  width:240px;
  position:absolute;
  top:60px;
  left:0;
  overflow:hidden;
}
.cms .pinion-modules-video-Preview > .pinion-vertical-move > .pinion-video-files, #pinion-backend .pinion-modules-video-Preview > .pinion-vertical-move > .pinion-video-files, #pinion-FrontendBox .pinion-modules-video-Preview > .pinion-vertical-move > .pinion-video-files {
  position:absolute;
  left:0;
  top:0;
  list-style:none;
}
.cms .pinion-modules-video-Preview > .pinion-vertical-move > .pinion-video-files > li.pinion-video-filename, #pinion-backend .pinion-modules-video-Preview > .pinion-vertical-move > .pinion-video-files > li.pinion-video-filename, #pinion-FrontendBox .pinion-modules-video-Preview > .pinion-vertical-move > .pinion-video-files > li.pinion-video-filename {
  padding:5px 0;
  width:240px;
  text-align:center;
  line-height:15px;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#edf2f2;
}
.cms .pinion-modules-video-Preview .pinion-video-file, #pinion-backend .pinion-modules-video-Preview .pinion-video-file, #pinion-FrontendBox .pinion-modules-video-Preview .pinion-video-file {
  position:absolute;
  top:0;
  left:0;
  display:none;
}
.cms .pinion-modules-video-Preview:hover > .pinion-preview-info, #pinion-backend .pinion-modules-video-Preview:hover > .pinion-preview-info, #pinion-FrontendBox .pinion-modules-video-Preview:hover > .pinion-preview-info { display:none; }
.cms .pinion-modules-video-Preview:hover > .pinion-vertical-move, #pinion-backend .pinion-modules-video-Preview:hover > .pinion-vertical-move, #pinion-FrontendBox .pinion-modules-video-Preview:hover > .pinion-vertical-move { display:none; }
.cms .pinion-modules-video-Preview:hover > .pinion-video-file-count, #pinion-backend .pinion-modules-video-Preview:hover > .pinion-video-file-count, #pinion-FrontendBox .pinion-modules-video-Preview:hover > .pinion-video-file-count { display:none; }
.cms .pinion-modules-video-Preview:hover > .pinion-video-file, #pinion-backend .pinion-modules-video-Preview:hover > .pinion-video-file, #pinion-FrontendBox .pinion-modules-video-Preview:hover > .pinion-video-file { display:block; }
