.language-switcher .language-flags li .pinion-flag {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:0px 0px;
}
.language-switcher .language-flags li .pinion-flag-en {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-20px 0px;
}
.language-switcher .language-flags li .pinion-flag-de {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-40px 0px;
}
.language-switcher .language-flags li .pinion-flag-es {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-60px 0px;
}
.language-switcher .language-flags li .pinion-flag-fr {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-80px 0px;
}
.language-switcher .language-flags li .pinion-flag-it {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-100px 0px;
}
.language-switcher .language-flags li .pinion-flag-pt {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-120px 0px;
}
.language-switcher .language-flags li .pinion-flag-ru {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-140px 0px;
}
.language-switcher .language-flags li .pinion-flag-dn {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-160px 0px;
}
.language-switcher .language-flags li .pinion-flag-nw {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-180px 0px;
}
.language-switcher .language-flags li .pinion-flag-pl {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-200px 0px;
}
.language-switcher .language-flags li .pinion-flag-nl {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-220px 0px;
}
.language-switcher .language-flags li .pinion-flag-gr {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-240px 0px;
}
.language-switcher .language-flags li .pinion-flag-cz {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-260px 0px;
}
.language-switcher .language-flags li .pinion-flag-cr {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-280px 0px;
}
.language-switcher .language-flags li .pinion-flag-tk {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-300px 0px;
}
.language-switcher .language-flags li .pinion-flag-sw {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-320px 0px;
}
.language-switcher .language-flags li .pinion-flag-ar {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-340px 0px;
}
.language-switcher .language-flags li .pinion-flag-bu {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-360px 0px;
}
.language-switcher .language-flags li .pinion-flag-cu {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-380px 0px;
}
.language-switcher .language-flags li .pinion-flag-gh {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-400px 0px;
}
.language-switcher .language-flags li .pinion-flag-hu {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-420px 0px;
}
.language-switcher .language-flags li .pinion-flag-in {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-440px 0px;
}
.language-switcher .language-flags li .pinion-flag-ja {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-460px 0px;
}
.language-switcher .language-flags li .pinion-flag-mx {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-480px 0px;
}
.language-switcher .language-flags li .pinion-flag-sr {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-500px 0px;
}
.language-switcher .language-flags li .pinion-flag-sv {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-520px 0px;
}
.language-switcher .language-flags li .pinion-flag-sl {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-540px 0px;
}
.language-switcher .language-flags li .pinion-flag-uk {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-560px 0px;
}
.language-switcher .language-flags li .pinion-flag-ur {
  background:url("../../../../../modules/translation/backend/images/pinion-flags.png");
  background-position:-580px 0px;
}
