#pinion-backend .pinion-backend-renderer-ContentElementRenderer {
  color:#1a292b;
  min-height:210px;
  min-width:781px;
}
#pinion-backend .pinion-backend-renderer-ContentElementRenderer:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
#pinion-backend .pinion-backend-renderer-ContentElementRenderer a {
  color:#1a292b;
  text-decoration:none;
}
#pinion-backend .pinion-backend-renderer-ContentElementRenderer > div > .pinion-preview {
  position:absolute;
  top:10px;
  left:10px;
  width:240px;
  height:180px;
  padding:5px;
  overflow:hidden;
  -moz-box-shadow:0 0 3px #1a292b;
  -webkit-box-shadow:0 0 3px #1a292b;
  box-shadow:0 0 3px #1a292b;
  background:url("../../../../pinion/assets/images/backgrounds/preview-bg.png");
}
#pinion-backend .pinion-backend-renderer-ContentElementRenderer > div > .pinion-textWrapper {
  padding:10px 70px 30px 270px;
  font-size:12px;
}
#pinion-backend .pinion-backend-renderer-ContentElementRenderer > div > .pinion-textWrapper:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
#pinion-backend .pinion-backend-renderer-ContentElementRenderer > div > .pinion-textWrapper .pinion-module {
  margin-top:5px;
  margin-bottom:10px;
}
#pinion-backend .pinion-backend-renderer-ContentElementRenderer > div > .pinion-textWrapper .pinion-module:after {
  content:".";
  display:block;
  clear:both;
  visibility:hidden;
  line-height:0;
  height:0;
}
#pinion-backend .pinion-backend-renderer-ContentElementRenderer > div > .pinion-textWrapper .pinion-module .pinion-module-icon {
  display:block;
  width:25px;
  height:25px;
  float:left;
  overflow:hidden;
}
#pinion-backend .pinion-backend-renderer-ContentElementRenderer > div > .pinion-textWrapper .pinion-module .pinion-module-icon img { margin-top:-25px; }
#pinion-backend .pinion-backend-renderer-ContentElementRenderer > div > .pinion-textWrapper .pinion-module .pinion-module-name {
  float:left;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  font-size:13px;
  font-size:14px;
  font-weight:900;
  line-height:25px;
  margin-left:5px;
}
#pinion-backend .pinion-backend-renderer-ContentElementRenderer > div > .pinion-textWrapper .pinion-contents { display:block; }
#pinion-backend .pinion-backend-renderer-ContentElementRenderer > div > .pinion-textWrapper .pinion-contents .pinion-backend-list-Finder { margin:0; }
#pinion-backend .pinion-backend-renderer-ContentElementRenderer .pinion-renderer-bar .pinion-content-changeVisibility {
  position:relative;
  cursor:pointer;
}
#pinion-backend .pinion-backend-renderer-ContentElementRenderer .pinion-renderer-bar .pinion-content-changeVisibility .pinion-text {
  display:none;
  position:absolute;
  right:23px;
  top:3px;
  font-weight:900;
  white-space:nowrap;
}
#pinion-backend .pinion-backend-renderer-ContentElementRenderer .pinion-renderer-bar .pinion-content-changeVisibility .pinion-icon {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-280px -120px;
  width:20px;
  height:20px;
}
#pinion-backend .pinion-backend-renderer-ContentElementRenderer .pinion-renderer-bar .pinion-content-changeVisibility:hover .pinion-text {
  display:block;
  color:#e1604b;
}
#pinion-backend .pinion-backend-renderer-ContentElementRenderer .pinion-renderer-bar .pinion-content-changeVisibility:hover .pinion-icon {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-280px -80px;
  width:20px;
  height:20px;
}
#pinion-backend .pinion-backend-renderer-ContentElementRenderer.dirty .pinion-backend-icon-dirty {
  position:absolute;
  top:5px;
  right:5px;
}
#pinion-backend .pinion-backend-renderer-ContentElementRenderer.pinion-invisible .pinion-textWrapper .pinion-backend-content-visibleInfo > .pinion-icon {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-840px 0;
  width:16px;
  height:12px;
}
#pinion-backend .pinion-backend-renderer-ContentElementRenderer.pinion-invisible .pinion-content-changeVisibility {
  position:absolute;
  top:40px;
  right:22px;
  cursor:pointer;
}
#pinion-backend .pinion-backend-renderer-ContentElementRenderer.pinion-invisible .pinion-content-changeVisibility .pinion-text { color:#88a852; }
#pinion-backend .pinion-backend-renderer-ContentElementRenderer.pinion-invisible .pinion-content-changeVisibility .pinion-icon {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-300px -120px;
  width:20px;
  height:20px;
}
#pinion-backend .pinion-backend-renderer-ContentElementRenderer.pinion-invisible .pinion-content-changeVisibility:hover .pinion-text { display:block; }
#pinion-backend .pinion-backend-renderer-ContentElementRenderer.pinion-invisible .pinion-content-changeVisibility:hover .pinion-icon {
  background-image:url('../../../../pinion/assets/images/icons/pinion-icons.png');
  background-position:-300px -100px;
  width:20px;
  height:20px;
}
#pinion-backend .pinion-backend-renderer-ContentElementRenderer.pinion-invisible {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter:alpha(opacity=100);
}
#pinion-backend .pinion-backend-renderer-ContentElementRenderer.pinion-invisible > .pinion-textWrapper {
  opacity:0.4;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter:alpha(opacity=40);
}
#pinion-backend .pinion-backend-renderer-ContentElementRenderer.pinion-invisible:after {
  background:none;
  height:0;
  width:0;
  position:static;
}
