.main-home-container { position:relative; }
.main-home-container h1.pinion-main-home-headline {
  margin-left:50px;
  margin-top:40px;
  width:350px;
}
.main-home-container h2.pinion-main-home-headline {
  margin-left:50px;
  margin-top:10px;
  width:350px;
}
.main-home-container .nivoslideshow-wrapper {
  position:absolute;
  top:0;
  right:0;
  width:460px;
  height:259px;
  background:#999999;
}
.main-home-container .pinion-downloader {
  margin-left:50px;
  margin-top:25px;
  width:350px;
}
